html {
   height:100%;
   min-width: 1000px;
}

body {
   background:#000;
   color:#CCC;
   width:100%;
   height:100%;
   font-family:Tahoma, Geneva, sans-serif;
   margin:0;
   padding:0;
}

p {
   line-height:20px;
   padding: 0 0 5px;
   margin: 5px 0 5px 0;
}

h3 {
   margin-top: 0px;
   padding-top: 0px;
   margin-bottom: 5px;
   padding-bottom: 5px;
}

/* style the ROI canvas */
canvas { 
}

sup {
   vertical-align: super;
   font-size:x-small;
}

a {
   outline: 0;
}

table {
   height:100%;
   width: 100%;
}


ul {
   padding: 0;
   margin: 0;
}

ul li {
   list-style-type: none;
}


#map {
   background: #1a1a1a;
   z-index:-1;
   clear: both;
   width:100%;
   height:100%;
   margin: 0;
   padding: 0;
}

.toolbar {
   /*display: none;*/
   /* Note - jQuery will be used to display the toolbar at startup with a nice animation */
   font-size:smaller;
   overflow: hidden;
   padding: 0 10px 0 10px;
   height: 50px;
   width: 500px;
   left: 50%;
   margin-left: -250px;
   position: fixed;
   background: #222222;
   border:1px solid #666666;
   filter: alpha(opacity=80);
   opacity: .80;
   color:#FFFFFF;
}

.toolbar ul {
   height:100%;
}

.toolbar ul li {
   height:100%;
   float:left;
}

.toolbar input {
   font-size: 1em;
}

.toolbar fieldset {
   border:0;
}

.toolbar legend {
   color:#BBB;
}

.toolbar select {
   width: 150px;
   padding: 2px;
   border:#FFF 1px solid;
   background-color:#BBB;
}

.toolbar .divider {
   border-right-style:dotted;
   border-width:1px;
   border-color:#999;
   width:2px;
   margin: 0 4px 2px 0;
}

.toolbar a {
   margin:8px 3px 5px 5px;
   display:block;   
   overflow:hidden;
}

.toolbar img {
    border:none;
}

#mapOptionsBtn {
   height:32px;
   width:63px;
}

#mapOptionsBtn:hover {
   text-indent:-63px;
}

#infoToggleBtn {
   height:32px;
   width:32px;
}

#infoToggleBtn:hover {
   text-indent:-32px;
}

#mapInfoToggleBtn {
   height:32px;
   width:32px;
}

#mapInfoToggleBtn:hover {
   text-indent:-32px;
}

#shareMapToggleBtn {
   height:32px;
   width:32px;
}

#shareMapToggleBtn:hover {
   text-indent:-32px;
}

#layerPreloader {
   height:32px;
   width:32px;
}

#layerPreloader:hover {
   text-indent:-32px;
}

#topToolbar {
   top: 0;
   -moz-border-radius-bottomleft: 15px;
   -moz-border-radius-bottomright: 15px;
   -webkit-border-bottom-left-radius: 15px;
   -webkit-border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

#bottomToolbar {
   bottom: 0;
   -moz-border-radius-topleft: 15px;
   -moz-border-radius-topright: 15px;
   -webkit-border-top-left-radius: 15px;
   -webkit-border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

/* Map Options Panel */
#mapOptions {
   display:none;
   bottom: 53px;
   height:200px;
   width:400px;
   margin-left: -200px;
   -moz-border-radius-topleft: 15px;
   -moz-border-radius-topright: 15px;
   -webkit-border-top-left-radius: 15px;
   -webkit-border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

/* Toolbar buttons (overriding jQuery UI styling) */
.iconBtn {
   margin-top:9px;
}

.iconBtn .ui-button-text {
   margin:0;
   padding:2px;
   width:26px;
   height:24px;
}

.panel {
   z-index:9999;
   position:absolute;
   top: 50px;
   display: none;
   height: auto;
   background: #333333;
   border:2px solid #666666;
   max-width:300px;
}

/* Layers icon for left panel */
#layerLbl {
   background:url(../img/layers.png) no-repeat;
   padding-left: 30px;
}

/* Layers icon for right panel */
#dataLbl {
   background:url(../img/data.png) no-repeat;
   padding-left: 30px;
}

.lPanel {
   padding: 10px 10px 10px 10px;
   left: 0;
   -moz-border-radius-topright: 15px;
   -moz-border-radius-bottomright: 15px;
   -webkit-border-bottom-right-radius: 15px;
   -webkit-border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   min-width: 200px;
}

#layerAccordion {
   overflow: hidden;
}

#opLayers {
   height: auto;
   overflow-y: auto; 
}

#refLayers {
   height: auto;
   overflow-y: auto;
}

.lPanel .selectedLayer {
   background: #333333;
   color: #cccccc;
} 

.rPanel {
   padding: 10px 10px 10px 10px;
   right: 0;
   -moz-border-radius-topleft: 15px;
   -moz-border-radius-bottomleft: 15px;
   -webkit-border-bottom-left-radius: 15px;
   -webkit-border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   border-top-left-radius: 15px;
}

a.trigger {
   z-index:10;
   position: absolute;
   text-decoration: none;
   top: 0px;
   color:#fff;
   border:2px solid #555555;
   display: block;
}

a.triggerL {
   left: 0;
   padding: 10px 45px 10px 5px;
   -moz-border-radius-topright: 15px;
   -moz-border-radius-bottomright: 15px;
   -webkit-border-top-right-radius: 15px;
   -webkit-border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   background:#333333 url(../img/Right_icn.png) 90% 50% no-repeat;
}

a.triggerR {
   right: 0;
   padding: 10px 5px 10px 48px;
   -moz-border-radius-topleft: 15px;
   -moz-border-radius-bottomleft: 15px;
   -webkit-border-top-left-radius: 15px;
   -webkit-border-bottom-left-radius: 15px;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   background:#333333 url(../img/Left_icn.png) 10% 50% no-repeat;
}

a.triggerL:hover {
   background:#222222 url(../img/Right_icn.png) 95% 50% no-repeat;
}

a.triggerR:hover {
   background:#222222 url(../img/Left_icn.png) 5% 50% no-repeat;
}

a.active.triggerL {
   background:#222222 url(../img/Left_icn.png) 90% 50% no-repeat;
}

a.active.triggerR {
   background:#222222 url(../img/Right_icn.png) 10% 50% no-repeat;
}

/* style the information dialogue */
#info {
   filter: alpha(opacity=70);
   opacity: 0.7;
}

#info p {
   color:#000;
   text-align:center;
   line-height: 1.3em;
   font-size: 0.75em;
}

#info img {
   border:0;
}

/* ======== Metadata ======== */

#metadata label {
   text-align: center;
   line-height: 1.3em;
   font-size: 1.1em;
}

/* ================================ */

/* Override some OpenLayers and Google Maps Styling */
.olLayerGooglePoweredBy, .olLayerGoogleCopyright {
   visibility:hidden;
}

.olMapViewport {
   z-index: 0;
}

/* ======== Data Layers ======== */

div .sensor-accordion {
   position: static;
   overflow: hidden;
}

#layer-exclamation {
   padding: 0px 0px 0px 5px;
}

#layer-exclamation img {
   border: 0;
}

/* ======== CSS/NoScript Warning ======== */

#noscript-warning {
   background-color: #C8142F;
   position: fixed;
   color: black;
   text-align: center;
   top: 60px;
   left: 0;
   width: 100%;
}

#nocss-info {
   display: none;
}

.css-check {
   height: 2px;
   width: 2px;
   display: none;
}

/* ======== Permalink Share Panel ======== */

/* Map Options Panel */
#shareOptions {
   display:none;
   top: 51px;
   height:75px;
   width:150px;
   margin-left: 90px;
   -moz-border-radius-bottomleft: 15px;
   -moz-border-radius-bottomright: 15px;
   -webkit-border-bottom-left-radius: 15px;
   -webkit-border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}

#shareOptions h3 {
   margin-top: 5px; 
}

#shareLink {
   width: 145px;
}

/* ======== Scalebar ======== */

.scalebar img {
   top: 0px;
   left: 0px;
   float: left;
}

.scalebar div {
   float: left;
}

.scalebar div input[type="text"] {
   /*float: left;*/
   width: 80px;
}

.scalebar div label {
 margin: 0px 0px 0px 10px;
}

.scalebar-max {
   margin: 5px 0px 45px 10px;
}

.scalebar-scale {
   margin: 0px 0px 0px 5px;
}

.scalebar-log {
   margin: 5px 0px 5px 0px;
}

.scalebar-log label {
   margin: 0px 0px 0px 0px !important;
}

.scalebar-reset {
   margin: 0px 0px 50px 5px;
}

.scalebar-min {
   margin: 5px 0px 0px 10px;
}

/* ======== Layer Selector ======== */

#layers {
   width: 100%;
   height: 80%;
   margin-top: 10px;
   /*position: absolute;
   top: 20px;
   left: 10px;
   right: 10px;
   bottom: 10px;*/
}

/* ======== Context Menu ======== */

/* Used to turn context menu text black */
.context-menu-list {
   color: black;
}

/* Used to bold the currently active item */
.styleSelected span {
   font-weight: bold;
}

/* ======= Graph Creator ======= */

#graphcreator-baseurl {
   width: 300px;
}

#graphcreator-generate img {
   position: relative;
   top: 3px;
   padding-left: 5px;
}

.ui-control {
   width: 100%;
   padding-bottom: 5px;
}

.ui-control .ui-control-header {
   padding-bottom: 5px;
}

.ui-control .ui-control-header a {
   padding-left: 0.8em;
   text-decoration: none;
   padding-bottom: 5px;
}

.ui-control .ui-control-header .ui-icon {
   position: absolute;
   left: .5em; 
   /*top: 50%; */
   /*margin-top: -8px; */
}

/* ===== Dummy Help Layer ===== */

#Need-Help {
   font-weight: bold;
}

/* ============================= */

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Override some basic jQuery UI Styles */
.ui-widget { font-family: Tahoma, Geneva, sans-serif; font-size: 0.8em; }
.ui-widget .ui-widget { font-size: 0.9em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Tahoma, Geneva, sans-serif; }

.ui-icon-drawpoint  { background-image: url(../img/selectionPoint.png) !important; height: 26px; width: 26px;margin: -12px -2px !important;}
.ui-icon-drawbox  { background-image: url(../img/selectionBox.png) !important; height: 26px; width: 26px;margin: -12px -2px !important;}
.ui-icon-drawcircle  { background-image: url(../img/selectionCircle.png) !important; height: 26px; width: 26px;margin: -12px -2px !important;}
.ui-icon-drawpoly  { background-image: url(../img/selectionPoly.png) !important; height: 26px; width: 26px;margin: -12px -2px !important;}

/* Override some accordion styles */
.ui-accordion .ui-accordion-content { padding: 0.3em; position: static; overflow: hidden; }
.ui-accordion .ui-state-active { background: none repeat scroll 0 0 #E9E9E9;}
.ui-accordion { width: auto; }

/* Selectable style 
.ui-widget-content { list-style-type: none; margin: 0; padding: 0; }
.ui-widget-content li { margin: 3px; padding: 0.4em; height: 13px; text-indent: 20px; }
.ui-widget-content li .handle { background: #f8f8f8; position: absolute;}
.ui-widget-content .ui-selecting { background: #FECA40; }
.ui-widget-content .ui-selecting .handle { background: #FECA40; }
.ui-widget-content .ui-selected { background: #F39814; color: white; }
.ui-widget-content .ui-selected .handle { background: #F39814; } */

