
// unnattractive green theme to test out the variables

$splash-background : #BFE4A0;
$secondary-background : #8DBF63;
$primary-purple : #4A702B;
$button-border : #BAB67C;
$button-primary : #A19D63;
$panel-headfoot : #214800;
$panel-content-header :#3C7011;
$analysis-button: #3B533B;
$panel-container-background: rgba(239, 237, 241, 0.5);
$selector-text: #BAB67B;
$dev-warning: green;
$slider-body: pink;
$slider-handles: yellow;
$timeline-base: lightblue;
$timeline-lozenge:red;
$timeline-text:black;
