/*------------------------------------*\
    Tables
\*------------------------------------*/
table  {
  padding-top: 20px;
  padding-bottom: 20px;
}

tr  {
  border-bottom: 1px solid #e0dce4;
}

tr:first-child  {
  border-top: 1px solid #e0dce4;
}

tr:nth-child(even)  {
  background-color: #fbfafb;
}

td  {
  /*height: 40px;     if tables are broken this is why*/
  /*line-height: 1.5;
  padding-left: 15px;
  vertical-align: middle;*/
/*  user-select: initial;*/
}

