*.pyc
*.orig
.DS_Store
apache_log
html/cache
html/cache/*
html/GISPortal.js
html/css/GISPortal.css
middleware/portalflask/settings.py
config/*
.DS_Store
apache_log
collaboration/node_modules
collaboration/node_modules/*
collaboration/config/config.json
nbproject
