image: pmlrsg/gisportal-host

stages:
    - build

job1:
    stage: build
    script:
        - node --version
        - npm --version
        - npm install
        - grunt
        - /usr/bin/redis-server --daemonize yes
        - npm test
