*.orig
*.pyc
.DS_Store
.vscode
tags
.sass-cache/*
.tern-project
.trunk
config/*
html/GISportal.js
html/GISportal.min.js
html/all_templates.mst
html/application/*
html/css/*
html/index.html
html/plots/*
!html/plots/.gitkeep
jsconfig.json
node_modules
logs/*
typings.json
typings/*

uploads/*
!uploads/.gitkeep
!uploads/archive/
!uploads/cache/

uploads/archive/*
!uploads/archive/.gitkeep

uploads/cache/*
!uploads/cache/.gitkeep

app/modules/*
!app/modules/.gitkeep
