*.pyc
*.orig
.DS_Store
apache_log
html/cache
html/cache/*
html/cache.bak
html/cache.bak/*
html/cache.oldbak
html/cache.oldbak/*
html/GISPortal.js
html/css/GISPortal.css
html/templates/all_templates.mst
middleware/portalflask/settings.py
config/*
.DS_Store
apache_log
