doctype html
html(lang="en")
   head
      title= pageTitle
      link(rel='stylesheet', href='../css/GISportal.css')
      script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(type='text/javascript')
         | try {
         |   var p = window.opener.top;
         |   if (p.collaboration.userAuthorised()) { 
         |      window.close(); 
         |   } 
         | } catch(e) {
         |   window.top.location='/'; }
   body
      div.collabIframe
         h3 You're logged in
         p
            a(href='javascript:void(0)' onclick="javascript:window.close()") Close this window
