div.collabHolder
  h3 Collaboration
  p To begin using the collaboration tools in this portal you will need to be logged in
  p &nbsp;

  if google 
    div
      a(href="/app/user/auth/google")
        img(src="/img/sign-in-with-google.png", class="loginButton-google js-google-auth-button")
  if saml 
    div
      a(href="/app/user/auth/saml")
        img(class="loginButton-saml js-saml-auth-button")&attributes({'src': saml.loginButton})