div.collabHolder
  h3 Collaboration
  p To begin using the collaboration tools in this portal you will need to be logged in
  p &nbsp;

  a(href="javascript:void(0)" class="js-google-auth-button" ): img(src!="/img/sign-in-with-google.png" style!="width:200px;height:auto")