
html(lang="en")
  head
    title User Login
    link(rel="stylesheet", type="text/css", href="../../css/login.css")
    script(type="text/javascript", src="../../login.js")
    link(rel="icon", type="image/png", href="../../favicon/favicon-32x32.png")
  body(class="login")
    div.userLogin
        h1 User Login
        p You are required to login before being allowed access to this application
        p &nbsp;
        if google 
            script(src="https://accounts.google.com/gsi/client", async)
            div(id="g_id_onload", data-login_uri="../../user/auth/google", data-auto_prompt="false")&attributes({'data-client_id': google.clientid})
            div(class="g_id_signin", data-type="standard", data-size="large", data-theme="outline", data-text="sign_in_with", data-shape="rectangular", data-logo_alignment="left")
