
.collabHolder { padding-bottom: 20px; }
.collabHolder p {margin: 7px 0px;}

.collabHolder .join, .collabHolder .host {
   clear: both;
   margin-top: 20px;
}

.collaboration-panel{
    top: 200px;
    right: 0px;
    max-height: calc(100% - 217px);
    width: 300px;
    position: absolute;
    background-color: #efedf1;
    box-shadow: 0px 0px 11px -2px black;
    padding: 8px;
    z-index:10150;
    overflow: auto;
}

.collaboration-pulltab{
    top: 210px;
    position: absolute;
    right: 0px;
    padding: 8px;
    transform-origin: top right;
    background-color: #efedf1;
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    border-right: none;
    z-index:10160;
}
.collaboration-pulltab.open{
    right: 300px;
}

.collaboration-status {
   top: 70px;
   right: 25px;
   height: 35px;
   min-width: 50px;
   position: absolute;
   background-color: #fafafb;
   box-shadow: 0px 0px 11px -2px black;
   padding: 7px 10px 7px 24px;
   z-index: 1;
}

.js-collaboration-status-icon {
   width: 10px;
   height: 10px;
   position: absolute;
   margin-top: 2px;
   border-radius: 50%;
   top: 9px;
   left: 9px;
   background: #ddd;
}

.js-collaboration-status-icon.connected {
   background: radial-gradient(circle at 3px 3px, #25FC16, #000);
}

.js-collaboration-status-icon.error {
   background: radial-gradient(circle at 3px 3px,#FC3535, #420000);
}

.js-collaboration-status-icon.warning {
   background: radial-gradient(circle at 3px 3px,#dd9205, #583a02);
}

#roomId, .roomId {
   text-transform: uppercase;
}
#roomId.error { border: 2px solid #900; color: #900;}
.js-room-id-message { padding: 4px; }
.js-room-id-message.error { color: #900;}


.collaboration-actions { 
   margin: 10px 0px;
}

.js-collab-invite { margin-bottom: 20px; }

.sending { vertical-align: text-bottom; margin-right: 8px; }

.person {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 8px 8px 8px 28px;
  margin-top: 5px;
  position: relative;
}

.person p[title]{
  font-weight: bold !important;
}
.presenter {
   position:absolute;
   top: 12px;
   left: 10px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: radial-gradient(circle at 3px 3px, #5cabff, #000);
}
.diverged {
   position:absolute;
   top: 12px;
   left: 10px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: radial-gradient(circle at 3px 3px, #ff5e5c, #000);
}

.messenger{
  margin-top: 5px;
  position: relative;
}

.messages{
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 8px;
  overflow: auto;
  height: 200px;
  word-break: break-word;
}

p[title] {
  max-width: 200px;
}

.messages div.inner-div{
  background: #d7d5d8;
  margin-bottom: 7px;
  padding: 4px 6px;
  width: auto;
  border-radius: 8px;
  display: inline-block;
}

.messages div.outer-div{
  width: 100%;
}

input.message-input {
    width: calc(100% - 70px);
}

.js-submit-message{
  margin-top: 3px;
}

.highlight-click {
    animation: glow 0.5s 2 alternate;
}

.fadeIn {
    animation: fadeIn 1s 1;
    opacity: 1;
}

.fadeOut {
    animation: fadeOut 1s 1;
    opacity: 0;
}

.js-collaboration-popup .overlay-container { width:auto;}

@keyframes glow {
    80%, to {
        -webkit-box-shadow: 0px 0px 35px 0px rgba(153,0,0,1);
        -moz-box-shadow: 0px 0px 35px 0px rgba(153,0,0,1);
        box-shadow: 0px 0px 35px 0px rgba(153,0,0,1);
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*!
 * Modified from:
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.highlight-shake {
    animation: shake 0.75s;
}

.highlight-shake-up {
    animation: shake-up 0.75s;
}

.pulse-attention {
    animation: pulse 0.5s 4;
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%, 60%{
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  40%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake-up {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%, 60%{
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%, 80% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.highlight-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.2em;
  height: 0.2em;
  background-color: #97f4ff;
  box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 0 black, 0 0 0 0 #298df4;
  opacity: 0;
  -webkit-animation: dot-anim linear 1.834s 1;
  border-radius: 50%;
}

@-webkit-keyframes dot-anim {
  45% {
    opacity: 1;
  }
  46% {
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 0 black, 0 0 5px 10px #298df4;
  }
  50% {
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 101px black, 0 0 0 173px #298df4;
  }
  52% {
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 245px black, 0 0 0 255px #298df4;
  }
  55% {
    opacity: 1;
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 317px black, 0 0 0 320px #298df4;
  }
  81% {
    opacity: 0;
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 549px black, 0 0 0 549px #298df4;
  }
}

div.panel-container[data-panel-name="collaboration"] .alert-danger,
div.panel-container[data-panel-name="collaboration"] .alert-warning,
div.panel-container[data-panel-name="collaboration"] .alert-success{
   margin: 10px -8px;
   padding: 10px;
}

.person-message{
   color:#FB0401;
   cursor: pointer;
}

.new-message-popup {
   height: auto;
   width: 70%;
   bottom: 35px;
   left: 15%;
   position: absolute;
   text-align: center;
   background-color: rgba(0,0,0,0.3);
   color: white;
   cursor: pointer;
}

span.notify-number {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  background-color: #800000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: #efedf1;
  margin-top: 2px;
  margin-right: 2px;
  font-weight: bold !important;
}

.avatar-small {
  width: auto;
  height: 24px;
  border-radius: 50%;
}

.person p{
  padding-left: 2px;
}

.person img.avatar-small{
  margin-top: -2.5px;
  padding-right: 3px;
  margin-left: -4px;
}