$splash-color : #383A25;
$secondary-background : #6f8a91;
$primary-purple : #2c353b;
$button-primary : #F75C03;
$button-color: #111111;
$panel-headfoot : #2c353b;
$panel-content-header : #53676c;
$analysis-button: #B80C09;
$panel-container-background: rgba(239, 237, 241, 0.5);
$selector-text: #2f2f2f;
$dev-warning: #900 none repeat scroll 0% 0%;
$slider-body: #93a7ac;
$slider-handles: #6e888f;
$timeline-base: #c4d0d2;
$timeline-lozenge:#F75C03;
$timeline-text:#93a7ac;
$timeline-stroke:#53676c;
$general-border: #c9d4d7;
$start-btn-background: #F75C03;

$panel-solid-background: #f5f5f5;
$panel-solid-color: #111111;
$footer-shadow: 0px -1px 5px -2px #000000;
$popup-background: white;
$popup-color: #111111;
$popup-shadow: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
$popup-arrow: white;
$popup-border: 1px solid #cccccc;
$map-background:#1a1a1a;
$timeline-background: white;
$timeline-color: #111111;
$button-top-actions: #fafafa;