$splash-background : #383A25 none repeat scroll 0% 0%;
$secondary-background : #B1A7BC;
$primary-purple : #32273D;
$button-border : #BAB67C;
$button-primary : #A19D63;
$panel-headfoot : #32253F;
$panel-content-header : #59476D;
$analysis-button: #808080;
$panel-container-background: rgba(239, 237, 241, 0.5);
$selector-text: #8a7b9b;
$dev-warning: #900 none repeat scroll 0% 0%;
$slider-body: #D8D3DD;
$slider-handles: #B1A7BC;
$timeline-base: #D8D3DD;
$timeline-lozenge:#A19D63;
$timeline-text:#B1A7BC;


// unnattractive green theme to test out the variables

// $splash-background : rgba(1, 102, 118, 0.75);
// $secondary-background : #8DBF63;
// $primary-purple : #4A702B;
// $button-border : #BAB67C;
// $button-primary : #A19D63;
// $panel-headfoot : #214800;
// $panel-content-header :#3C7011;
// $analysis-button: #3B533B;
// $panel-container-background: rgba(239, 237, 241, 0.5);
// $selector-text: #BAB67B;
// $dev-warning: green;
// $slider-body: pink;
// $slider-handles: yellow;
// $timeline-base: lightblue;
// $timeline-lozenge:red;
// $timeline-text:black;

