$splash-color : #383A25;
$secondary-background : #B1A7BC;
$primary-purple : #32273D;
$button-border : #BAB67C;
$button-primary : #A19D63;
$panel-headfoot : #32253F;
$panel-content-header : #59476D;
$analysis-button: #808080;
$panel-container-background: rgba(239, 237, 241, 0.5);
$selector-text: #8a7b9b;
$dev-warning: #900 none repeat scroll 0% 0%;
$slider-body: #D8D3DD;
$slider-handles: #B1A7BC;
$timeline-base: #D8D3DD;
$timeline-lozenge:#A19D63;
$timeline-text:#B1A7BC;
$timeline-stroke:#59476D;
$general-border: #D8D3DD;