$splash-color : #383A25;
$secondary-background : #3183b3;
$primary-purple : #32273D;
$button-primary : #3183b3;
$button-color: #FFFFFF;
$panel-headfoot : rgba(38,70,83,.8);
$panel-content-header : #34515C;
$analysis-button: #3183b3;
$panel-container-background: rgba(38, 70, 83, 0.8);
$selector-text: #8a7b9b;
$dev-warning: #900 none repeat scroll 0% 0%;
$slider-body: #D8D3DD;
$slider-handles: #B1A7BC;
$timeline-base: #D8D3DD;
$timeline-lozenge:#3183b3;
$timeline-text:#B1A7BC;
$timeline-stroke:#055777;
$general-border: #D8D3DD;
$start-btn-background: #3183b3;

$panel-solid-background: transparent;
$panel-solid-color: #efedf1;
$panel-solid-link: white;
$footer-shadow: none;
$popup-background: rgba(38, 70, 83, 0.8);
$popup-color: white;
$popup-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
$popup-arrow: rgba(38, 70, 83, 0.8);
$popup-border: none;
$map-background: rgba(38, 70, 83, 0.8);
$timeline-background: #34515c;
$timeline-color: white;
$scalebar-overlay-color: white;