$splash-background : #383A25 none repeat scroll 0% 0%;
$secondary-background : #627fa7;
$primary-purple : #102161;
$button-border : #017789;
$button-primary : rgba(1, 102, 118, 1);
$panel-headfoot : #274978;
$panel-content-header : #41618E;
$analysis-button: #808080;
$panel-container-background: rgba(239, 237, 241, 0.5);
$selector-text: #556782;
$dev-warning: #900 none repeat scroll 0% 0%;
$slider-body: rgba(1, 102, 118, 0.7);
$slider-handles: rgba(1, 102, 118, 1);
$timeline-base : rgba(1, 102, 118, 0.5);
$timeline-lozenge : #76012c;
$timeline-text : rgba(1, 102, 118, 0.7);
$timeline-stroke : rgba(1, 102, 118, 1);
$icon-underline : white;
$general-border: rgba(0, 60, 69, 0.5);