$splash-color : #383A25;
$secondary-background : #B1A7BC;
$primary-purple : #32273D;
$button-primary : #A19D63;
$button-color: #FFFFFF;
$panel-headfoot : #32253F;
$panel-content-header : #59476D;
$analysis-button: #808080;
$panel-container-background: rgba(239, 237, 241, 0.5);
$selector-text: #8a7b9b;
$dev-warning: #900 none repeat scroll 0% 0%;
$slider-body: #D8D3DD;
$slider-handles: #B1A7BC;
$timeline-base: #D8D3DD;
$timeline-lozenge:#A19D63;
$timeline-text:#B1A7BC;
$timeline-stroke:#59476D;
$general-border: #D8D3DD;
$start-btn-background: #A19D63;

$panel-solid-background: #efedf1;
$panel-solid-color: #111111;
$panel-solid-link: #111111;
$footer-shadow: 0px -1px 5px -2px #000000;
$popup-background: white;
$popup-color: #111111;
$popup-shadow: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
$popup-arrow: white;
$popup-border: 1px solid #cccccc;
$map-background:#1a1a1a;
$timeline-background: white;
$timeline-color: #111111;
$scalebar-overlay-color: #000;
$panel-slideout-background: white;
$panel-slideout-color: #111;
$active-plot-background: #dff0d8;
$active-plot-color: #111;
$alert-background: #fcf8e3;
$alert-color: #8a6d3b;