
.collabHolder { padding-bottom: 20px; }
.collabHolder p {margin: 7px 0px;}

.collabHolder .join, .collabHolder .host {
   clear: both;
   margin-top: 20px;
}

.collaboration-panel{
  width: 300px;
  z-index: 10150;
  overflow: auto;
  position: absolute;
  top: 120px;
  bottom: 35px;
  right: 10px;
  box-shadow: 0px 0px 11px -2px black;
  padding-top: 45px;
}

.show-collaboration{
  z-index: 10150;
  font-family: "Open Sans";
  background-color: #fafafb;
  box-shadow: 0px 0px 11px -2px black;
  border: 1px solid #fafafb;
  line-height: 32px;
  padding-left: 15px;
  right: 10px;
  top: 120px;
  position: absolute;
  height: 40px;
}

.show-collaboration span {
    font-size: 20px;
    position: relative;
    top: 4px;
    margin-left: 8px;
}

.collaboration-status {
  height: 35px;
  min-width: 50px;
  max-width: 100%;
  position: relative;
  background-color: #efedf1;
  padding: 7px 10px 7px 24px;
}

.js-collaboration-status-icon {
   width: 10px;
   height: 10px;
   position: absolute;
   margin-top: 2px;
   border-radius: 50%;
   top: 9px;
   left: 9px;
   background: #ddd;
}

.js-collaboration-status-icon.connected {
   background: radial-gradient(circle at 3px 3px, #25FC16, #000);
}

.js-collaboration-status-icon.error {
   background: radial-gradient(circle at 3px 3px,#FC3535, #420000);
}

.js-collaboration-status-icon.warning {
   background: radial-gradient(circle at 3px 3px,#dd9205, #583a02);
}

#roomId, .roomId {
   text-transform: uppercase;
   width: calc(100% - 120px);
}

#roomId.error { border: 2px solid #900; color: #900;}
.js-room-id-message { padding: 4px; }
.js-room-id-message.error { color: #900;}


.collaboration-actions { 
   margin-bottom: 10px;
}

.js-collab-invite { margin-bottom: 20px; }

.sending { vertical-align: text-bottom; margin-right: 8px; }

.person {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 8px;
  margin-top: 5px;
  position: relative;
}

.person p[title]{
  font-weight: bold !important;
  display: inline-block;
}

.presenter,
.diverged{
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.presenter {
  background: radial-gradient(circle at 3px 3px, #5cabff, #000);
}
.diverged {
  background: radial-gradient(circle at 3px 3px, #ff5e5c, #000);
}

.messenger{
  margin-top: 5px;
  position: relative;
  height: 100%;
}

#collab-chatPanel .panel-container-solid-backdrop{
  height: 100%;
}

.messages{
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 8px;
  overflow: auto;
  height: calc(100% - 50px);
  word-break: break-word;
}

p[title] {
  max-width: 200px;
}

.messages div.inner-div{
  background: #d7d5d8;
  margin-bottom: 7px;
  padding: 4px 6px;
  width: auto;
  border-radius: 8px;
  display: inline-block;
}

.messages div.outer-div{
  width: 100%;
}

.js-submit-message{
  margin-top: 3px;
}

.highlight-click {
    animation: glow 0.5s 2 alternate;
}

.fadeIn {
    animation: fadeIn 1s 1;
    opacity: 1;
}

.fadeOut {
    animation: fadeOut 1s 1;
    opacity: 0;
}

.js-collaboration-popup .overlay-container { width:auto;}

@keyframes glow {
    80%, to {
        -webkit-box-shadow: 0px 0px 35px 0px rgba(153,0,0,1);
        -moz-box-shadow: 0px 0px 35px 0px rgba(153,0,0,1);
        box-shadow: 0px 0px 35px 0px rgba(153,0,0,1);
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*!
 * Modified from:
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.highlight-shake {
    animation: shake 0.75s;
}

.highlight-shake-up {
    animation: shake-up 0.75s;
}

.pulse-attention {
    animation: pulse 0.5s 4;
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%, 60%{
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  40%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake-up {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  20%, 60%{
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%, 80% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.highlight-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.2em;
  height: 0.2em;
  background-color: #97f4ff;
  box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 0 black, 0 0 0 0 #298df4;
  opacity: 0;
  -webkit-animation: dot-anim linear 1.834s 1;
  border-radius: 50%;
}

@-webkit-keyframes dot-anim {
  45% {
    opacity: 1;
  }
  46% {
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 0 black, 0 0 5px 10px #298df4;
  }
  50% {
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 101px black, 0 0 0 173px #298df4;
  }
  52% {
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 245px black, 0 0 0 255px #298df4;
  }
  55% {
    opacity: 1;
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 317px black, 0 0 0 320px #298df4;
  }
  81% {
    opacity: 0;
    box-shadow: 0 0 .2em .13em #52a8e8, 0 0 0 549px black, 0 0 0 549px #298df4;
  }
}

div.panel-container[data-panel-name="collaboration"] .alert-danger,
div.panel-container[data-panel-name="collaboration"] .alert-warning,
div.panel-container[data-panel-name="collaboration"] .alert-success{
   margin: 0 -8px;
   padding: 10px;
}

.person-message{
   color:#FB0401;
   cursor: pointer;
   display: table;
}

.new-message-popup {
   height: auto;
   width: 70%;
   bottom: 45px;
   left: 15%;
   position: absolute;
   text-align: center;
   background-color: rgba(0,0,0,0.3);
   color: white;
   cursor: pointer;
}

span.notify-number {
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 16px;
  background-color: #b30000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #efedf1;
  font-weight: bold !important;
  text-align: center;
  vertical-align: middle;
}

.avatar-small {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: middle;
}

.person p{
  padding-left: 2px;
}

.person img.avatar-small{
  margin-top: -2.5px;
  margin-right: 3px;
  margin-left: -4px;
}

.message-input{
  width: calc(100% - 75px);
  resize: none;
  overflow: hidden;
  padding-top: 5px;
  min-height: 35px;
  bottom: 15px;
  position: absolute;
}

span.individual-message {
  margin: 0 5px 5px 5px;
  display: inline-block;
}

.collaboration-panel .panel-container{
  height: calc( 100% - 35px );
}

#collab-historyPanel,
#collab-historyPanel .panel-container-solid-backdrop{
  overflow: hidden;
}

.history-log p {
  padding-top: 7px;
}

.email-list{
  background-color: #fff;
  border: 1px solid #D8D3DD;
  color: #8a7b9b;
  padding-left: 10px;
  margin-bottom: 10px;
}

.email-list > span{
  display:block;
  height:35px;
  float:left;
  padding:5px;
  margin:4px;
  border: 1px solid black;
}

.email-list > input{
  width: 100%;
  border: none;
  margin-left: -10px;
  padding-left: 20px;}

span.remove-email{
  color: black;
  margin-left: 2px;
  vertical-align: middle;
}

.email-list > input:focus {
  outline: none;
}

.email-txt{
  vertical-align: middle;
}

#collab-videoPanel .localVideo::-webkit-media-controls-volume-slider,
#collab-videoPanel .localVideo::-webkit-media-controls-mute-button {
  display: none
}

#collab-videoPanel video::-webkit-media-controls-play-button,
#collab-videoPanel video::-webkit-media-controls-timeline,
#collab-videoPanel video::-webkit-media-controls-current-time-display,
#collab-videoPanel video::-webkit-media-controls-time-remaining-display{
  display:none;
}

#collab-videoPanel video::-webkit-media-controls-fullscreen-button{
  margin-left: 10px;
}