$splash-color : #383A25;
$secondary-background : #627fa7;
$primary-purple : #203c63;
$button-primary : rgba(1, 102, 118, 1);
$button-color: #FFF;
$panel-headfoot : #274978;
$panel-content-header : #41618E;
$analysis-button: #808080;
$panel-container-background: rgba(239, 237, 241, 0.5);
$selector-text: #8a7b9b;
$dev-warning: #900 none repeat scroll 0% 0%;
$slider-body: rgba(1, 102, 118, 0.7);
$slider-handles: rgba(1, 102, 118, 1);
$timeline-base : #91A9C9;
$timeline-lozenge : #102161;
$timeline-text : black;
$timeline-stroke : rgba(1, 102, 118, 1);
$icon-underline : white;
$general-border: rgba(0, 60, 69, 0.5);
$start-btn-background: #627fa7;

$panel-solid-background: #efedf1;
$panel-solid-color: #111111;
$panel-solid-link: #111111;
$footer-shadow: 0px -1px 5px -2px #000000;
$popup-background: white;
$popup-color: #111111;
$popup-shadow: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
$popup-arrow: white;
$popup-border: 1px solid #cccccc;
$map-background:#1a1a1a;
$timeline-background: white;
$timeline-color: #111111;
$scalebar-overlay-color: #000;
$panel-slideout-background: white;
$panel-slideout-color: #111;
$active-plot-background: #dff0d8;
$active-plot-color: #111;
$alert-background: #fcf8e3;
$alert-color: #8a6d3b;
$action-button-color: #31708f;
$dark-text: #111;
$button-top-actions: #31708f;
$button-top-actions-text: #FFF;