/*------------------------------------*\
    Compare
\*------------------------------------*/

#map-holder{
   background: $map-background;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   margin: 0;
   padding: 0;
 }
 
 #compare_map,#map   {
   position: absolute;
   top: 0;
   left: 0;
   bottom:0;
   width: 100%;
   height: 100%;
 }
 
 #comparison-details{
 
   font-family: "Open Sans";
   background-color: $panel-content-header ;
   color: #fff;
   box-shadow: 0px 0px 11px -2px black;
   line-height: 32px;
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-top: 10px;
   left: 10px;
   top: 70px;
   position: absolute;
   -webkit-appearance: none;
   -moz-appearance: none;
   z-index: 10;
   display:none
 
 }
 
 #comparison-dates{
   height: 100%;
   width: 100%;
   margin-top: 5px
 }
 
 #map-holder.swipeh {
   display:block
 }
 
 #compare_map{
   background: $map-background
 }
 
 #map-holder.standard-view #compare_map{
   width:0%
 }
 
 #map-holder.standard-view #map{
   width:100%
 }
 #map-holder.view2 #map{
   display:none
 }
 
 #map-holder.compare #map{
   left:50%;
   width:50%
 }
 #map-holder.compare #compare_map{
   width:50%;
 }

 #map-holder.compare #compare_map {
  border-right: white;
  border-right-style: solid;
 }
 
 // Remove controls and overlays from the swipe map
 #map-holder.compare #compare_map .ol-control,
 #map-holder.swipev #compare_map .ol-control,
 #map-holder.swipeh #compare_map .ol-control,
 #map-holder.swipeh .ol-target-overlay,
 #map-holder.clip #compare_map .ol-control {
   display: none;
 }
 
 div.ol-swipe > button{
   height: 40px;
 }

 .mini-buttons{
   background-color: $secondary-background ;
   border: none;
   color: #fff;
   padding: 6px 10px;
   border-radius: 5px;
 }

 .swipe-table-edge{
  padding: 3px;
  border:1px solid;
  white-space:pre
 }

table.swipe-table{
  text-align:center;
}

 table.swipe-table td{
  padding: 3px;
  border:1px solid
 }

// CSS Below Organises the bottom panel with the buttons and logo

#swipe-map span{
  font-size: 16px;
}

#compare-map span{
  font-size: 16px;
}

#compare-map span{
  font-size: 16px;
}

.about-button{
  font-size: 16px !important;
}

/* Check if the screen size is at least 1900px */
@media only screen and (max-width: 1900px) {
  .footer-logo {
      display: none;
  }
}

.footer-logo-div{
  height:35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
