/* Fix for IE SVG overflow issues */
svg {
    overflow: hidden;
    shape-rendering: crispEdges;
 }
 
 .graph svg  {
    shape-rendering: auto;
 }


.depth-container  {
    display:none;
    height:200px;
    width:150px;
    bottom:150px;
    right: 0;
    position: absolute;
    width: 10%;
    transform: translate3D(0,0,0); /* Performance improvement hack */
    box-shadow: 0px 0px 11px -2px black;
    padding: 5px;
    background: $timeline-background;
    z-index: 11;
    color: $timeline-color;
    text-align: center;
 }
 
 .depth-title{
   margin-bottom: 15px;
 }
 
 .depth-container p {
    display: inline;
 }
 
 .depth-inner  {
   //  background-color: $timeline-background;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 5px 70px 5px 5px;
    text-align: left;
 
 }
 
 .depth  {
    width: 100%;
    touch-action: none;
 }
 
 .main {
    pointer-events: bounding-box;
 }
 
 .main text {
    text-anchor: start;
    fill: $timeline-text;
    /*stroke:black;
    stroke-width:0.5px;*/
 }
 
 .main text:hover,
 .main text:focus  {
    fill: $timeline-color;
 }
 
 .separatorLine {
    stroke: gray;
 }
 
 .nowLine {
    stroke: lightblue;
    stroke-width: 1.5px;
    stroke-dasharray: 2px,2px;
 }
 
 .selectedDateLine {
    rx: 5;
    ry: 5;
    fill:$timeline-lozenge; /*#b1a7bc;*/
 }
 
 .laneText {
 }
 
 .detailLine {
    stroke-width: 1;
 }
 
 .timeRange {
    fill: $timeline-base;
    stroke: none;
 }
 
 .data-bar-type--range  {
    pointer-events: none;
 }
 
 .axis line, .axis path {
    stroke: $general-border;
 }
 

 #depth{
    width: calc(100% - 320px);
    display: inline-block;
 }
 
 .depth-labels  {
    font-size: 10px;
    width: 150px;
    display: inline-block;
 }
 
 .depth-labels li  {
    position: absolute;
    left: 15px;
    top: 0;
    text-transform: capitalize;
 }
 
 .depth .axis .tick {
    cursor: pointer;
 }
 
 .depth-next-prev {
   display:inline-block;
    text-align: center;
    margin-bottom: 10px;
    span {
       cursor: pointer;
       float:left;
       clear:left;
       margin-bottom:3px;
    }
 }

 .js-current-depth {
   width:55px;
   margin-bottom:3px
 }
 
 .depth-holder {
    width: 160px;
    display: inline;
    position: relative;
    top: -19px;
    right: -5px;
 }

 .tooltip-next-previous {
    .label {
       float: left;
    }
    .date {
       float: right;
       margin-left: 10px
    }
 }
 
 input.current-date{
    color: #111;
 }
 
 line.stroke{
    stroke:$timeline-stroke;
 }
 
 .is-selected .pika-button {
     background: #59476D;
     box-shadow: inset 0 1px 3px #6E5887;
 }
 
 .pika-button:hover {
     background: #BAB67C;
 }
 