/*------------------------------------*\
    Indicators
\*------------------------------------*/



.indicator-header  {
  background-color: $panel-content-header ;
  color: #fff;
  line-height: 1.5;
  padding: 10px 15px;
  min-height: 45px;
  text-transform: capitalize;
}

.indicator-header.hidden-layer{
  background-color: #AB3636;
}

.indicator-header-moving { 
  background: repeating-linear-gradient(
  -45deg,
  $panel-content-header,
  $panel-content-header 10px,
  $panel-headfoot 10px,
  $panel-headfoot 20px
);
}

.indicator-name  {
   margin-bottom: 5px;
}

.indicator-header .panel-tab-name  {
   border-bottom: 0 none;
}
.sortable-list .indicator-header {
   cursor: -webkit-grab;
   cursor: grab;
}

.moveable { margin: 10px;}

@media only screen and (min-width : 1270px)  {
   .indicator-header .icon_remove {
      float: right;
   }
}

.js-tab-analysis .panel-tab  {
   padding: 0;
}

.steps > li  {
   padding: 16px;
}


.steps > li.full-size{
  padding: 12px;
}

.icon_rect  {
   float: right;
}

.icon_line {
  float: right;
}

.icon_poly {
  float: right;
}
.coordinates  {
   margin-top: 15px;
}

.analysis-add-series{
   display: none ;
  // background-color: #B3AE3F;
   float: right;
}

.has-active-plot .analysis-add-series{
   display: inline;
}


.has-active-plot .analysis-make-new-series{
  display: none;
}

.analysis-draw-bbox-buttons button.extra-small,
.analysis-draw-bbox-buttons label.js-upload-shape{
  background-color: $analysis-button;
  border: 1px solid $analysis-button;
  cursor: pointer;
}
.analysis-draw-bbox-buttons .icon-cursor-select-area{
    position: relative;
    top: 3px;
}

.analysis-draw-bbox-buttons button.drawInProgress{
  background-color: #EFEFEF;
  border: 1px solid $analysis-button;
  color: $analysis-button
}

.analysis-add-to-plot-buttons{
  margin-top: 10px;
}

.number  {
   color: $secondary-background;
   width: 60px;
  height: 100%;
  display: inline-block;
}
.number + * {
  display: inline-block;
  width: calc(100% - 65px);
}

.bbox-info  {
   margin-top: 6px;
}

.bbox-info div {
   display: inline-block;
   width: 32%;
   text-align: center;
   float: left;
}

.bbox-info dd,
.bbox-info dt  {
   display: block;
}

.bbox-info dt  {
   margin: 0 10px 0 5px;
}

.indicator-list {
   position: static;
}

.indicator-header-icon{
  font-size: 23px;
  width: 35px;
  display: inline-block;
  text-align: center;
}

.js-category-filter-options{
  padding-top: 10px;
}

.search-help{
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 7px;
}

.js-search{
  position: relative;
}

.indicator-header-icon.active{
  border-bottom: 2px solid #a19d63;
}

.indicator-header .remove{
  float: right;
}


.indicator-header p {
  background-color: #442D5C;
  margin: -10px -15px 3px -15px;
  padding: 4px 9px 6px 9px;
  background: linear-gradient(to bottom, #442d5c 75%,#5b496f 100%);
  font-weight: bold;
}

.toggleVisibility{
  border-bottom: none !important;
}
.toggleVisibility:before {
  content: "\e00f";
}
.toggleVisibility.active:before {
  content: "\e02b";
}

.indicator-list > li:not(:last-child){
  margin-bottom: 20px;
}

.icon-checkbox:before{
  content: "\e506";
  font-size: 80%;
}
.icon-checkbox.active:before, .icon-checkbox:hover:before{
  content: "\e300";
  font-size: 100%;
}
.indicator-checkbox{
  cursor: pointer;
  font-size: 22px;
}

table.stripe.panel-tab td {
  /*height: 30px;*/
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  vertical-align: middle;
}

table.stripe td:nth-child(odd) {
  min-width: 110px;
}

/* added for allowing teh overlays*/
.indicator-list li {
  position:relative;
}

.indicator-overlay {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: rgba(100,100,100,0.5);
  cursor: pointer;

}

.export-raw-slideout{
  padding: 19px;
}

.js-geolocation-filter{
  padding: 0px 10px;
}

.js-geolocation-filter-btn{
  cursor: pointer;
}

.js-place-search-filter-radius{
  width:50px !important;
}

.js-geolocation-filter-btn.searchInProgress {
  background-color: #fff;
  color: $secondary-background;
}

.js-geolocation-filter-btn{
  border: 1px solid $secondary-background;
}

.show-geocoder{
  padding-left: 10px;
  cursor: pointer;
}

.show-geocoder-holder{
  background-color: $panel-solid-background;
  color: $panel-solid-color;
  width: 100%;
}

.show-geocoder-text{
  display: inline-block;
  padding-right: 5px;
}


.related_layer{
  color:blue;
  text-decoration:underline;
  cursor: pointer;
}


/*** amw - drag and drop visualisation tab ***/

  .bands-to-rgb .colorsOutput {
    text-align: center; 
    display: flex;}
  .bands-to-rgb .colorsContainer {
    min-height: 212px;
    position: relative;
    background: rgb(98, 100, 113);
    border-radius: 6px;
    text-align: center;
    padding: 10px 5px;}
    .bands-to-rgb .colorsContainer .bandItem {
      box-shadow: 2px 2px 3px #333;
      display: inline-block;
      width: 15px;
      height: 30px;
      border-radius: 5px;
      text-align: center;
      line-height: 25px;
      display: inline-block;
      margin: 5px 10px;
      cursor: pointer;
      font-size: 12px;
      color: #fff;
      text-shadow: 0 1px 0 #333;
      background: purple;
     /* overflow: hidden; */
      text-overflow: ellipsis;
      white-space: nowrap;
       position: absolute; }
  .bands-to-rgb .colHolder {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    position: relative; }
    .bands-to-rgb .colHolder:before {
      position: absolute;
      left: -5px;
      right: -5px;
      top: -5px;
      bottom: -5px;
      opacity: 0.3;
      border: 1px solid #fff;
      border-radius: 100px;
      content: '';
      display: block; }
    .bands-to-rgb .colHolder div {
      border-radius: 5px;
      box-shadow: 2px 2px 3px #333;
      position: absolute;
      left: 0;
      top: 0;
      color: #fff;
      width: inherit;
      height: inherit;
      background: purple;
      text-align: center;
      line-height: 25px;
      text-shadow: 0 1px 0 #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .bands-to-rgb .colHolder div.gu-transit {
        z-index: 1; }
        .colorsOutput * {
          flex: 1;
          line-height: 25px;
          text-align: right;
      }

.bandItemScaleH {
    position: absolute;
   top: 185px;
    width: 86%;
    height: 1px;
    background-color: white;
    left: 25px;
}
.bandItemScaleH::before {
    content: '400nm';
    color: white;
    font-size: 10px;
    left: 0;
    position: absolute;
    top: 5px;
}
.bandItemScaleH::after {
    content: '2400nm';
    color: white;
    font-size: 10px;
    right: 0;
    position: absolute;
    top: 5px;
}
.bandItemScaleV {
    position: absolute;
    left: 25px;
    width: 1px;
    height: 175px;
    background-color: white;
}
.bandItemScaleV::before {
    content: '80m';
    color: white;
    font-size: 10px;
    left: -15px;
    position: absolute;
    top: 0px;
    text-orientation: mixed;
    writing-mode: vertical-rl;
}
.bandItemScaleV::after {
    content: '20m';
    color: white;
    font-size: 10px;
    left: -15px;
    position: absolute;
    top: 150px;
    text-orientation: mixed;
    writing-mode: vertical-rl;
}
/** individual positioning **/
.bandItem[data-id="B01</br>443nm"]{   
    top: 20px;
    left: 22px;
}
.bandItem[data-id="B01</br>443nm"]:before{
    content: 'B01';
}
.bandItem[data-id="B02</br>490nm"]{
    top: 145px;
    left: 39px;
}
.bandItem[data-id="B02</br>490nm"]:before{
    content: 'B02';
}
.bandItem[data-id="B03</br>560nm"] {
    top: 145px;
    left: 63px;
}
.bandItem[data-id="B03</br>560nm"]:before{
    content: 'B03';
}
.bandItem[data-id="B04</br>665nm"] {
    top: 145px;
    left: 88px;
}
.bandItem[data-id="B04</br>665nm"]:before{
    content: 'B04';
}
.bandItem[data-id="B05</br>705nm"] {
    top: 80px;
    left: 102px;
}
.bandItem[data-id="B05</br>705nm"]:before{
    content: 'B05';
}
.bandItem[data-id="B06</br>740nm"] {
    top: 80px;
    left: 126px;
}
.bandItem[data-id="B06</br>740nm"]:before{
    content: 'B06';
}
.bandItem[data-id="B07</br>783nm"] {
    top: 80px;
    left: 151px;
}
.bandItem[data-id="B07</br>783nm"]:before{
    content: 'B07';
}
.bandItem[data-id="B08</br>842nm"] {
    top: 145px;
    left: 160px;
    min-width: 33px;
}
.bandItem[data-id="B08</br>842nm"]:before{
    content: 'B08';
}
.bandItem[data-id="B8A</br>865nm"] {
    top: 80px;
    left: 176px;
}
.bandItem[data-id="B8A</br>865nm"]:before{
    content: 'B8A';
}
.bandItem[data-id="B09</br>945nm"] {
    top: 20px;
    left: 202px;
}
.bandItem[data-id="B09</br>945nm"]:before{
    content: 'B09';
}
.bandItem[data-id="B10</br>1375nm"] {
    top: 20px;
    left: 229px;
}
.bandItem[data-id="B10</br>1375nm"]:before{
    content: 'B10';
}
.bandItem[data-id="B11</br>1610nm"] {
    top: 80px;
    left: 250px;
}
.bandItem[data-id="B11</br>1610nm"]:before{
    content: 'B11';
}
.bandItem[data-id="B12</br>2190nm"] {
    top: 80px;
    left: 273px;
}
.bandItem[data-id="B12</br>2190nm"]:before{
  content: 'B12';
}
.bandItem::before {
    display: block;
    color: white;
    position: absolute;
    left: 0px;
    top: -23px;
}
.generate_layer_visualisation.rgb_sent2.disabled{
    opacity: 0.4;
}
/** spinner **/
@keyframes ldio-b9cag98jye {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-b9cag98jye div {
  left: 47px;
  top: 24px;
  position: absolute;
  animation: ldio-b9cag98jye linear 1.923076923076923s infinite;
  background: #93dbe9;
  width: 6px;
  height: 12px;
  border-radius: 3px / 6px;
  transform-origin: 3px 26px;
}.ldio-b9cag98jye div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.7628205128205128s;
  background: #93dbe9;
}.ldio-b9cag98jye div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1.6025641025641024s;
  background: #689cc5;
}.ldio-b9cag98jye div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -1.4423076923076923s;
  background: #5e6fa3;
}.ldio-b9cag98jye div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -1.282051282051282s;
  background: #3b4368;
}.ldio-b9cag98jye div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -1.1217948717948718s;
  background: #191d3a;
}.ldio-b9cag98jye div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.9615384615384615s;
  background: #d9dbee;
}.ldio-b9cag98jye div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.8012820512820512s;
  background: #b3b7e2;
}.ldio-b9cag98jye div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.641025641025641s;
  background: #93dbe9;
}.ldio-b9cag98jye div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.4807692307692307s;
  background: #689cc5;
}.ldio-b9cag98jye div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.3205128205128205s;
  background: #5e6fa3;
}.ldio-b9cag98jye div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.16025641025641024s;
  background: #3b4368;
}.ldio-b9cag98jye div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #191d3a;
}
.loadingio-spinner-spinner-hmq08uh59ah {
  width: 61px;
  height: 61px;
  display: none;
  overflow: hidden;
  background: none;
}
.ldio-b9cag98jye {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.61);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-b9cag98jye div { box-sizing: content-box; }
