/*------------------------------------*\
    Common Elements
\*------------------------------------*/




*  {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html  {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */

}

body  {
   color: #111111;
   overflow-y: hidden;
}

p  {
   user-select: initial;
}

sup { vertical-align: super; font-size: 65%;}

button, .btn{
  cursor: pointer;
}

.collab-btn{
  cursor: pointer;
  padding-left: 5px;
  font-size: 20px;
  line-height: 20px;
}

#compare{
  background: yellow;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#compare_map,#map   {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  width: 100%;
  height: 100%;
}

#comparisonDetails{

  font-family: "Open Sans";
  background-color: $button-primary;
  box-shadow: 0px 0px 11px -2px black;
  border: 1px solid $button-primary;
  line-height: 32px;
  padding-right: 15px;
  left: 10px;
  top: 70px;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 100px;
  z-index: 10;
  color: $button-color;
  display:none

}

#fixed_side #fixed_side{
  position:absolute;
}

#scrollable_side{
  position:absolute
}

#compare.swipeh {
  display:block
}

#compare_map{
  background:green
}

#compare.view1 #compare_map{
  width:0%
}

#compare.view1 #map{
  width:100%
}
#compare.view2 #map{
  display:none
}

#compare.compare #map{
  left:50%;
  width:50%
}
#compare.compare #compare_map{
  width:50%;
}

// Remove controls and overlays from the swipe map
#compare.compare #compare_map .ol-control,
#compare.swipev #compare_map .ol-control,
#compare.swipeh #compare_map .ol-control,
#compare.swipeh .ol-target-overlay,
#compare.clip #compare_map .ol-control {
  display: none;
}

div.ol-swipe > button{
  height: 40px;
}
#data-reading-popup{
  cursor: auto;
}

.brand  {
  background-color: $button-primary;
  border-style: none;
  border-radius: 5px;
  color: #fff;

  padding: 7px 35px;
  display: inline-block;
}

.secondary  {
   background-color: $secondary-background ;
   border: none;
   color: #fff;
   padding: 6px 12px;
   border-radius: 5px;
}

.start-btn{
  background-color: $start-btn-background ;
}

.answer-call span,
.reject-call span{
   padding-right: 3px;
}

.answer-call  {
   background-color: #16970D ;
}

.reject-call  {
   background-color: #800000 ;
}

.brand.extra-small{
  font-size: 12px;
  padding: 5px 15px;
  margin-top: 2px;
}
.brand.small{
  padding: 5px 15px;
}

.brand.secondary:active  {
   background-color: $panel-content-header;
}

.secondary svg  {
   margin: inherit;
}

.text-button  {
   border: 0;
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: transparent;
   text-decoration: underline;
  padding: 1px 6px;
  margin: 2px;

}

.brand.loading  {
   background-image: url('../img/ajax-loader-green.gif');
   background-repeat: no-repeat;
   background-size: 20px;
   background-position: 10px 8px;
   padding-left: 40px;
}


.hidden  {
  display: none !important;
}

.hide-text  {
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

.dropdown {
  display: none;
  position: absolute;
}

.dropdown li  {
  background-color: #f7f6f8;
  border-bottom: 1px solid $general-border;
  border-top: 1px solid #fff;
}

.dropdown li:nth-child(even)  {
  background-color: #efedf1;
}

/*.dropdown-trigger:hover ~ .dropdown,*/
.dropdown-trigger:focus ~ .dropdown,
.dropdown:hover
.dropdown:focus {
  display: block;
}

input[type="text"] , textarea  {
  font-family: "Open Sans";
  background-color: #fff;
  border: 1px solid $general-border;
  color: $selector-text;
  height: 35px;
  padding-left: 10px;
  width: 100%;
}


/* TEMP GRAPH stuff */

#graph-container  {
   background: #fff;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 100;
}

.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}
/* Global Loading Icon */
.global-loading-icon{
	display: none;
	
	background-color: rgba(0,0,0,0.53);
	background-image: url('../img/ajax-loading-halo-1.gif');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center 20%;
	
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: -45px;
	
	width: 90px;
	height: 84px;
	
	text-align: center;
}

.global-loading-icon::after{
	content: "Loading...";
	color: white;
	font-size: 15px;
	text-align: center;
	
	position: absolute;
	bottom: 4px;
	left: 0px;
	
	width: 100%;
}

.tooltipster-content{
	font-family: inherit !important;
}

.align-center{
  text-align: center;
}
button.top-space {
  margin-top: 5px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.dev-warning {
  position: fixed;
  top: 0;
  width: 100%;
  background: $dev-warning;
  text-align: center;
  color: #fff;
  font-weight: bold;
  z-index: 10;
}

.view-title{
  position: fixed;
  top: 0;
  width: 100%;
  background: $panel-content-header;
  text-align: center;
  color: #fff;
  font-weight: bold;
  z-index: 10;
}

.dark-background{
  background-color: rgba(0,0,0,0.8);
  display: inline-flex;
}

.tac-container{
  background-color: $primary-purple;
  color: #f7f6f8;
  padding: 25px;
  width: 500px;
  margin: auto;
}
.tac-container-bottom {
  text-align: right;
  margin-top: 12px;
}

dl { 
  width: 320px; 
  display: block; 
  line-height: 1.5em; 
  clear: both;
}
dt { 
  width: 120px;
  float: left; 
  font-style: italic; 
}
dd { 
  width: 200px;
   float: left;
}


@media( max-width: 800px ){
  .panel{
    top: 0px;
    left: 0px;
    bottom: 0px;
  } 
}

.ol-zoom-in, .ol-zoom-out, .ol-full-screen,
.ol-scale-line-inner, .ol-attribution,
.ol-mouse-position, .timeline-container
{
  user-select: none;
}

div.js-scalebar > p, div.timeline-container > p,
div.timeline-date-options > span, .js-current-date
{
  user-select: none;
}

.progress-btn {
    position:relative;
}
.progress-btn:before {
    content:'\A';
    position:absolute;
    background: transparentize($panel-content-header, 0.6);
    top:0; bottom:0;
    left:0;
    border-radius: 5px;
    animation:progress 10s linear;
    -webkit-animation:progress 10s linear;
    width:0%;
}

@keyframes progress {
  from {
    width:0%;
  }
  to{
    width:100%;
  }
}


/* ddslick CSS */
.dd-select{ background: #fff; border-radius:2px; border:solid 1px #ccc; position:relative; cursor:pointer;}
.dd-select.active { background:$panel-content-header; color:#fff; }
.dd-select.active .dd-selected { color:#fff; }
.dd-desc { color:#aaa; display:block; overflow: hidden; font-weight:normal; line-height: 1.4em; }
.dd-selected{ overflow:hidden; display:block; padding:10px; color: $selector-text;}
.dd-pointer{ width:0; height:0; position:absolute; right:14px; top:50%; margin-top:-8px;}
.dd-pointer-down{ border-right: 1px solid $general-border; border-bottom:1px solid $general-border; width:12px; height:12px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.dd-pointer-up{ border-right:1px solid #fff; border-bottom:1px solid #fff; width:12px; height:12px; transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); margin-top: -2px; }
.dd-options{ border:solid 1px #ccc; border-top:none; list-style:none; box-shadow:0px 1px 5px #ddd; display:none; z-index:2000; margin:0; padding:0;background:#fff; overflow:auto; }
.dd-option{ padding:10px; display:block; border-bottom:solid 1px #ddd; overflow:hidden; text-decoration:none; color:#333; cursor:pointer;-webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out;-o-transition: all 0.25s ease-in-out;-ms-transition: all 0.25s ease-in-out; }
.dd-options li.selected { position: relative; }
.dd-options li.selected:after { content: "\e2fe"; font-family: "streamline-24px" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; font-size: 17px; position: absolute; right: 13px; top: 10px; color: #090;} 
.dd-options > li:last-child > .dd-option{ border-bottom:none;}
.dd-option:hover{ background:#f3f3f3; color:#000;}
.dd-selected-description-truncated { text-overflow: ellipsis; white-space:nowrap; }
.dd-option-selected { background:#f6f6f6; }
.dd-option-image, .dd-selected-image { vertical-align:middle; float:left; margin-right:5px; max-width:64px;}
.dd-option-icon { font-size: 17px; line-height: 19px; margin-right: 5px; }
.dd-image-right { float:right; margin-right:15px; margin-left:5px;}
.dd-container{ position:relative; margin-bottom:10px;} .dd-selected-text { font-weight:bold; }
.dd-selected-soon{ background: $panel-content-header; } .dd-selected-soon a{ color: #fff; }

.noUi-dragable {
  cursor: ew-resize !important;
}

.small-text{
  font-size: 10px;
}

.footer-logo{
  max-height: 35px;
  max-width: 150px
}

.footer-logo-div{
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor: default;
}