/*
.map_controls { 
   position: absolute; 
   top: 25px; 
   right: 25px;
   background-color: #fafafb;
   box-shadow: 4px 0 10px rgba(0,0,0,0.25);
   border: 1px solid $secondary-background; 
   border-radius: 5px; 
}

.map_controls span{
   border-right: 1px solid #e0dce4;
   font-size: 16px;
   padding: 4px 11px;
   display: inline-block;
}

@media (max-width:700px){
   .map_controls { 
      top: 15px; 
      right: 15px;
   }
   .map_controls span{
      border-right: none;
      border-top: 1px solid #e0dce4;
      display: block;
   }

}

*/
.ol-zoom, .ol-full-screen {
   position: absolute; 
   top: 25px; 
   right: 10px;
   background-color: $button-top-actions;
   box-shadow: 0px 0px 11px -2px black;
   z-index: 10;
   color: $button-color;
}

.ol-full-screen {
   right: 105px;
}

.ol-geocoder-trigger{
   position: absolute;
   top: 25px;
   right: 160px;
   background-color: $button-top-actions;
   box-shadow: 0px 0px 11px -2px black;
   padding: 7px;
   z-index: 10;
   color: $button-top-actions-text;
}

.ol-zoom button, .ol-full-screen button {
   border: 0;
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: transparent;
  padding: 5px 10px;
  margin: 2px;
  font-size: 16px;
  color: $button-top-actions-text;
}

.ol-attribution {
   position: absolute;
   bottom:0px;
   left:0px;
   background: rgba(255, 255, 255, 0.7);
   padding-left: 4px;
}
.ol-attribution button { display: none; }
.ol-attribution li { display: inline; margin-right: 5px; font-size: 0.75em;}
.ol-attribution a { color: #222;}
.ol-attribution img {vertical-align: bottom;}

.ol-scale-line {
   position: absolute;
   top: 25px;
   right: 200px;
   background-color: $button-top-actions;
   box-shadow: 0px 0px 11px -2px black;
   padding: 7px;
   cursor: default;
   z-index: 10;
   color: $button-top-actions-text;
}
.ol-scale-line-inner {
   border-width: 0px 1px 1px 1px;
   border-style: solid;
   border-color: $button-top-actions-text;
   padding-left: 7px;
}
.js-map-settings-message {
   margin: 6px -8px;
   padding: 8px;
}

.ol3-geocoder-search{
   display: none;
}

.ol3-geocoder-search-expanded{
   display: inline;
}

.ol3-geocoder-search-expanded #gcd-input,
.ol3-geocoder-result{
  right:10px !important;
  left: auto !important;
  width: 260px !important;
}

.ol3-geocoder-container{
  left: auto !important;
  right: 0.5em !important;
  z-index: 10160;
}

button.ol3-geocoder-btn-search {
  display: none !important;
}

ul.ol3-geocoder-result>li:nth-child(odd) {
    background-color: #eee;
}