.metadata-slideout p {
   padding:10px;
}
.metadata-slideout strong {
   display:block;
   font-weight: bold !important;

}

.metadata-box {
   background:$panel-solid-background;
   margin-top:15px;
}
