/*------------------------------------*\
    Overlay
\*------------------------------------*/

.overlay  {
   position: absolute;
   top: 0;
   left: 0;

   height: 100%;
   width: 100%;

   display: flex;
   align-items: center;
   z-index: 1000;
   background-color: rgba(0,0,0,0.6);
}

.overlay-container  {
   max-width: 650px;
   margin: 0 auto;
   width: 100%;
   background-color: #32273d;
   color: #f7f6f8;
   padding: 25px;
   -webkit-box-shadow: 0px 0px 30px 2px rgba(255,255,255,0.3);
   -moz-box-shadow: 0px 0px 30px 2px rgba(255,255,255,0.3);
   box-shadow:0px 0px 30px 2px rgba(255,255,255,0.3);
}

.overlay-container .js-close-share  {
   color: #f7f6f8;
   float: right;
}

.js-modal-message-popup .overlay-container{
   width: auto;
   font-size: 20px;
   text-align: center;
}

.accpet-reject-buttons{
  display: inline-block;
  margin: 0 auto;
}

.js-modal-message-popup{
   z-index:10100
}

.collab-overlay{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   pointer-events: visible;
   z-index: 10050;
}

#localVideo, #remoteVideo{
   width: 100%;
}

#localVideo{
   transform: rotateY(180deg);
}

.display-div{
  overflow: hidden;
  float: left;
  position: relative;
  margin-bottom: 6px;
  pointer-events: all;
}

.video-div{
  min-width: 130px;
  max-width: 48vw;
}

.main-collaboration-video{
  z-index: 10125;
  display: inline-block;
  pointer-events: none;
  width: auto !important;
  height: auto !important;
}

.ui-resizable-handle {
  height: 10px;
  width: 10px;
  z-index: 10140 !important;
  display: block;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.ui-icon-gripsmall-diagonal-se:hover{
    cursor: se-resize;
}

.video-controls{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.collab-videos-minimize{
  position: absolute;
  right: 0;
  text-shadow: white 0px 0px 5px;
  pointer-events: all;
}

.off-btn{
  color: #800000;
}

.on-btn{
  color: #16970D;
}

#localVideo::-webkit-media-controls-volume-slider,
#localVideo::-webkit-media-controls-mute-button {
  display: none
}

.video-controls:hover{
  opacity: 1 !important;
  animation: fadeIn !important;
}

span.video-control {
  font-size: 30px;
  text-shadow: white 0px 0px 5px;
}

.overlay-minimized{
  animation: minimize 0.5s 1 forwards;
  top: 0 !important;
  left: 0 !important;
  cursor: pointer;
}

@keyframes minimize {
  to {
    -webkit-transform: scale3d(.05, .05, .05);
    transform: scale3d(.05, .05, .05);
    -webkit-transform-origin: 5% top;
    transform-origin: 5% top;
  }
}

.overlay-maximized{
  animation: maximize 0.5s 1 forwards;
  -webkit-transform: scale3d(.05, .05, .05);
  transform: scale3d(.05, .05, .05);
  -webkit-transform-origin: 5% top;
  transform-origin: 5% top;
}

@keyframes maximize {
  to {
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: none;
    transform-origin: none;
  }
}