/*------------------------------------*\
    Overlay
\*------------------------------------*/

.overlay  {
   position: absolute;
   top: 0;
   left: 0;

   height: 100%;
   width: 100%;

   display: flex;
   align-items: center;
   z-index: 1000;
   background-color: rgba(0,0,0,0.6);
}

.overlay-container  {
   max-width: 650px;
   margin: 0 auto;
   width: 100%;
   background-color: #32273d;
   color: #f7f6f8;
   padding: 25px;
   -webkit-box-shadow: 0px 0px 30px 2px rgba(255,255,255,0.3);
   -moz-box-shadow: 0px 0px 30px 2px rgba(255,255,255,0.3);
   box-shadow:0px 0px 30px 2px rgba(255,255,255,0.3);
}

.overlay-container .js-close-share  {
   color: #f7f6f8;
   float: right;
}

.js-modal-message-popup .overlay-container { width: auto; font-size: 20px;}

.collab-overlay{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   pointer-events: visible;
   z-index: 10050;
}