/*------------------------------------*\
    For PRIMROSE Ext 2 
\*------------------------------------*/

#project-overlay {
    opacity:0.8;
    display:none
  }

#opacity-holder, #calendar-holder, #remove-holder,
#satellite-label,#overlay-satellite-picker,
#choose-animation-label,#choose-animation-widget {
    display:none
}

#opacity-slider{
    width:90%;
    left:1%
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

/*------------------------------------*\
    For ORIES 
\*------------------------------------*/

#table-scroll {
    height:400px;
    overflow:auto;  
  }

#filter-title{
    font-size:large
}  
.blank-col{
    background-color: white;
}  

.negative-row, #negative-square{
    background-color: #ffcaa2;
}

.positive-row, #positive-square{
    background-color: #afe2d4;
}

.no-row, #no-square{
    background-color: #c0ddeb
}

.inconclusive-row, #inconclusive-square{
    background-color: #f6f2cc
}

#popup-info-parent, #popup-info-key-holder{
    display:flex
}

#download-data-table{
    padding:3px 10px;
    margin-top:3px;
    margin-bottom:3px
}

#popup-info-key-holder{
    margin-left:50px
}

#popup-info-key, #popup-info-left-col,#popup-info-right-col{
    margin-inline:10px
}

.key-square{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:25px;
    margin-bottom:10px
}

#filters_applied{
    margin-top:5px
}