/*------------------------------------*\
    Scalebar
\*------------------------------------*/

.noUi-connect  {
  background-color: $slider-body;
  box-shadow: none;
}

.noUi-handle  {
  background-color: $slider-handles;
  border-radius: 50%;
  box-shadow: none;
}

.noUi-target  {
  border-radius: 25px;
}

.noUi-origin  {
   border-radius: 25px;
}

.scale-editor{
	display: inline-block;
	text-align: left;;
}

.scale-editor input  {
  margin: 4px 0px 11px 0px;
  width: 90px;
}
.scale-editor b {
	font-weight: bold;
	display: block;
}

.colorbands-value{
   margin: 4px 0 0 5px;
   width: 30px;
}

.panel-tab.dimensions-tab  {
  background-color: #fbfafb;
  padding: 9px;
}

.scale-options  {
  background-color: #fbfafb;
  border-bottom: 1px solid #e0dce4;
  padding-bottom: 10px;
}

.scalevalues  {
  padding-bottom: 10px;
}

.above-below-color-selects {
   padding-top: 7px;
   display: inline-block;
   width: 100%;
}

.indicator-option  {
  margin-bottom: 10px;
}

.layer-opacity-slider,
.layer-colorbands-slider {
	margin: 10px;
}

.panel-tab.scalebar-tab{
	padding: 9px;
	border-bottom: 1px solid #e0dce4;
}

.js-scalebar{
	cursor: pointer;
}

.panel-tab.scalebar-tab > label {
    max-width: 100%;
}

.scalebar-outer {
   position: relative;
   margin-bottom: 10px;
}

.scalebar-outer-loose {
   position: relative;
}

.scalebar  {
   width: 100%;
   background-size: 100%;
}

.scalebar-loose  {
   width: 100%;
}

.legend-img{
   max-width: 100%;
   margin-bottom:2px;
}

.scalebar-overlay{
	position: absolute;
	width: calc( 100% / 6 );
	margin-left: calc( 0px - (100% / 6 / 2) );
	text-align: center;
}

.scalebar-overlay span{
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

.scalebar-overlay:first-of-type span{
	margin-left: -5px;
}
.scalebar-overlay:last-of-type span{
	margin-right: -5px;
}

.scalebar-overlay:first-of-type{
	margin-left: 0px;
	text-align: left;
	left: 0%;
}

.scalebar-overlay:nth-of-type(2){
	left: 25%;
}
.scalebar-overlay:nth-of-type(3){
	left: 50%;
}
.scalebar-overlay:nth-of-type(4){
	left: 75%;
}
.scalebar-overlay:last-of-type{
	margin-left: 0px;
	text-align: right;
	right: 0%;
}

.scalebar-overlay::before{
	content: " ";
	width: 1px;
	height: 7px;
	background-color: black;
	position: absolute;
	bottom: 100%;
	left: 50%;
}

.scalebar-overlay:first-of-type::before{
	left: 0%;
}
.scalebar-overlay:last-of-type::before{
	left: auto;
	right: 0%;
}

span.scalebar-overlay-text {
   position: absolute;
   width: calc(100%/4);
   height: 100%;
   top: 0;
   display: -webkit-box;
}