/*------------------------------------*\
    Graph Panel
\*------------------------------------*/

#graphPanel .panel-container { 
   width: 150%;
   max-width: 150%;
   z-index: 20;
}

#graphPanel.panel {
   overflow: visible;
}

.graph-holder {
   background: #fff;
   text-align: center;
   padding: 10px;
}
