.panel-content-collaboration {background: #fff; padding: 10px; position: relative;}

.panel-content-collaboration .icon_close { position: absolute; top: 10px; right:4px; }
.panel-content-collaboration p {padding: 8px 0px; }

.js-collaboration-console { margin-top: 10px; }
.js-collaboration-status-msg { padding: 10px; background: #444; color: #fff; margin-top: 10px; }
.js-collaboration-status-msg a {color: #fff; font-weight: bold; }