/*------------------------------------*\
    Fonts
\*------------------------------------*/

@font-face  {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}

body  {
  font-family: 'Open Sans';
  font-size: 14px;
}
