/*------------------------------------*\
    Graph Panel
\*------------------------------------*/

#graphPanel.panel-container { 
   width: 150%;
   max-width: 150%;
   z-index: 20;
}

#graphPanel.panel {
   overflow: visible;
}

.graph-holder,
.graph-wait-message {
   background: #fff;
   text-align: center;
   padding: 10px;
}

input.graph-min, input.graph-max{
	margin: 4px 0px 11px 0px;
	width: 90px;
}

.graph-min{
	float: left;
}

.graph-max{
	float: right;
}