/*------------------------------------*\
    History Panel
\*------------------------------------*/


#historyPanel .graphJob {
	
	background: white;
	border-style: none;
	border: 1px solid #d8d3dd;
	border-radius: 0;
	color: #8a7b9b;
	display: block;
	text-align: left;
	text-indent: 1px;
	text-overflow: '';
	line-height: 33px;
	padding-left: 10px;
	text-transform: capitalize;
	margin-top: 9px;
	width: 100%;
}


#historyPanel .panel-container{
	display: flex;
	flex-direction: column;
}

#historyPanel .half{
	display: flex;
	height: 50%;
	overflow: hidden;
	flex-direction: column;
}

#historyPanel .half > h3{
	flex-grow: 0;
}

#historyPanel .half > div{
	overflow: scroll;
}

.singleLine {
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}


.saved, .not-saved, .loading-image{
	width: 16px;
	height: 16px;
	display: inline-block;
}

.saved:before, .not-saved:before{
	content: "\e09d";
	cursor: pointer;
}

.not-saved{
	font-family: "streamline-24px" !important;
}
.saved, not-saved:hover{
	font-family: "streamline-24px-filled-in" !important;
}