/*------------------------------------*\
    Icons
\*------------------------------------*/

*[class^="icon"]  {
   border: 0;

   height: 25px;
   min-width: 40px;

   opacity: 0.3;

   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

*[class^="icon"]:focus,
*[class^="icon"]:hover  {
   cursor: pointer;
   opacity: 0.8;
}

*[class^="icon"].active  {
   cursor: pointer;
   opacity: 1;
}

.icon_show  {
   background: url('../img/icons/show.png') center no-repeat;
}

.icon_options  {
   background: url('../img/icons/settings.png') center no-repeat;
}

.icon_scalebar  {
   background: url('../img/icons/scalebar.png') center no-repeat;
}

.icon_details  {
   background: url('../img/icons/details.png') center no-repeat;
}

.icon_analyse  {
   background: url('../img/icons/analyse.png') center no-repeat;
}

.icon_loading,
.icon_loading:focus,
.icon_loading:hover  {
   background: url('../img/icons/loading.png') center no-repeat;
   cursor: auto;
   opacity: 0;
}

.icon_loading.active  {
   animation: rotation: 2s infinite linear;
   opacity: 0.3;
}

.icon_hide.active,
.icon_show  {
   background: url('../img/icons/show.png') center no-repeat;
}

.icon_show.active,
.icon_hide  {
   background: url('../img/icons/hide.png') center no-repeat;
}

.icon_show.light  {
   background: url('../img/icons/show_light.png') center no-repeat;
}

.icon_options.light  {
   background: url('../img/icons/settings_light.png') center no-repeat;
}

.icon_scalebar.light  {
   background: url('../img/icons/scalebar_light.png') center no-repeat;
}

.icon_details.light  {
   background: url('../img/icons/details_light.png') center no-repeat;
}

.icon_analyse.light  {
   background: url('../img/icons/analyse_light.png') center no-repeat;
}

.icon_loading.light  {
   background: url('../img/icons/loading_light.png') center no-repeat;
}

.icon_hide.light  {
   background: url('../img/icons/hide_light.png') center no-repeat;
}
