/*------------------------------------*\
    Indicators
\*------------------------------------*/

.indicator-header  {
  background-color: #59476d;
  color: #fff;
  line-height: 1.5;
  padding: 10px 15px;
  min-height: 45px;
  text-transform: capitalize;
}

.indicator-header > p  {
   margin-bottom: 5px;
}

.indicator-header .panel-tab-name  {
  border-bottom: 0 none;
}

@media only screen and (min-width : 1270px)  {
   .indicator-header .icon_remove {
      float: right;
   }
}

.js-tab-analysis .panel-tab  {
   padding: 0;
}

.steps li  {
   padding: 20px 20px 20px 0;
}

.icon_rect  {
   float: right;
}

.icon_line {
  float: right;
}

.icon_poly {
  float: right;
}
.coordinates  {
   margin-top: 15px;
}

.number  {
   color: #b1a7bc;
   width: 85px;
}

.bbox-info  {
   margin-top: 6px;
}

.bbox-info div {
   display: inline-block;
}

.bbox-info dd,
.bbox-info dt  {
   display: inline;
}

.bbox-info dt  {
   margin: 0 10px 0 5px;
}

.create-graph  {
   float: right;
   margin-top: 20px;
}

.indicator-header-icon{
  font-size: 23px;
  width: 35px;
  display: inline-block;
  text-align: center;
}

.indicator-header-icon.active{
  border-bottom: 2px solid #a19d63;
}

.indicator-header .remove{
  float: right;
}

.toggleVisibility{
  border-bottom: none !important;
}
.toggleVisibility:before {
  content: "\e00f";
}
.toggleVisibility.active:before {
  content: "\e02b";
}

.indicator-list > li:not(:last-child){
  margin-bottom: 20px;
}

.icon-checkbox:before{
  content: "\e506";
  font-size: 80%;
}
.icon-checkbox.active:before, .icon-checkbox:hover:before{
  content: "\e300";
  font-size: 100%;
}
.indicator-checkbox{
  cursor: pointer;
  font-size: 22px;
  width: 40px;
}