/*------------------------------------*\
    Common Elements
\*------------------------------------*/

*  {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body  {
   color: #111111;
   overflow-y: hidden;
}

p  {
   user-select: initial;
}

#map  {
   background: #1a1a1a;
   z-index: -1;
   clear: both;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   margin: 0;
   padding: 0;
}

button.brand  {
  background-color: #a19d63;
  border-style: none;
  border-top: 8px solid #bab67c;
  border-radius: 3px;
  color: #fff;

  height: 40px;
}

button.secondary  {
   background-color: #b1a7bc;
   border: none;
}

.text-button  {
   border: 0;
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: transparent;
   text-decoration: underline;
}

.hidden  {
  display: none !important;
}

.hide-text  {
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

.dropdown {
  display: none;
  position: absolute;
}

.dropdown li  {
  background-color: #f7f6f8;
  border-bottom: 1px solid #d8d3dd;
  border-top: 1px solid #fff;
}

.dropdown li:nth-child(even)  {
  background-color: #efedf1;
}

/*.dropdown-trigger:hover ~ .dropdown,*/
.dropdown-trigger:focus ~ .dropdown,
.dropdown:hover
.dropdown:focus {
  display: block;
}

input[type="text"]  {
  background-color: #fff;
  border: 1px solid #d8d3dd;
  color: #8a7b9b;
  height: 35px;
  padding-left: 10px;
  width: 100%;
}


/* TEMP GRAPH stuff */

#graph-container  {
   background: #fff;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 100;
}


