/*------------------------------------*\
    Common Elements
\*------------------------------------*/

*  {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html  {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */

}

body  {
   color: #111111;
   overflow-y: hidden;
}

p  {
   user-select: initial;
}

sup { vertical-align: super; font-size: 65%;}

button, .btn{
  cursor: pointer;
}

#map  {
   background: #1a1a1a;
   z-index: -1;
   clear: both;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   margin: 0;
   padding: 0;
}

.brand  {
  background-color: #a19d63;
  border-style: none;
  border-radius: 5px;
  color: #fff;

  line-height: 35px;
  padding: 0 35px 0 30px;
  display: inline-block;
}

.brand.with-border  {
  border-top: 6px solid #bab67c;
  height: 41px;
}

.secondary  {
   background-color: #b1a7bc;
   border: none;
   color: #fff;
   padding: 2px 10px;
   border-radius: 5px;
}

.brand.secondary:active  {
   background-color: #59476d;
}

.secondary svg  {
   margin: inherit;
}

.text-button  {
   border: 0;
   cursor: pointer;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: transparent;
   text-decoration: underline;
}

.brand:active,
.brand.loading {
   background-color: #bab67c;
}

.brand.loading  {
   background-image: url('../img/ajax-loader-green.gif');
   background-repeat: no-repeat;
   background-size: 20px;
   background-position: 10px 8px;
   padding-left: 40px;
}

.brand.small{
  padding: 0px 6px;
}

.hidden  {
  display: none !important;
}

.hide-text  {
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

.dropdown {
  display: none;
  position: absolute;
}

.dropdown li  {
  background-color: #f7f6f8;
  border-bottom: 1px solid #d8d3dd;
  border-top: 1px solid #fff;
}

.dropdown li:nth-child(even)  {
  background-color: #efedf1;
}

/*.dropdown-trigger:hover ~ .dropdown,*/
.dropdown-trigger:focus ~ .dropdown,
.dropdown:hover
.dropdown:focus {
  display: block;
}

input[type="text"]  {
  background-color: #fff;
  border: 1px solid #d8d3dd;
  color: #8a7b9b;
  height: 35px;
  padding-left: 10px;
  width: 100%;
}


/* TEMP GRAPH stuff */

#graph-container  {
   background: #fff;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 100;
}

.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}
/* Global Loading Icon */
.global-loading-icon{
	display: none;
	
	background-color: rgba(0,0,0,0.53);
	background-image: url('../img/ajax-loading-halo-1.gif');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center 20%;
	
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: -45px;
	
	width: 90px;
	height: 84px;
	
	text-align: center;
}

.global-loading-icon::after{
	content: "Loading...";
	color: white;
	font-size: 15px;
	text-align: center;
	
	position: absolute;
	bottom: 4px;
	left: 0px;
	
	width: 100%;
}

.tooltipster-content{
	font-family: inherit !important;
}

.align-center{
  text-align: center;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.dev-warning { position: fixed; top: 0; width: 100%; background: #990000; text-align: center; color: #fff; font-weight: bold; }

.dark-background{
  background-color: rgba(0,0,0,0.8);
  display: inline-flex;
}

.tac-container{
  background-color: #32273d;
  color: #f7f6f8;
  padding: 25px;
  width: 500px;
  margin: auto;
}
.tac-container-bottom {
  text-align: right;
  margin-top: 12px;
};