.map_controls { 
   position: absolute; 
   top: 25px; 
   right: 25px;
   background-color: #fafafb;
   box-shadow: 4px 0 10px rgba(0,0,0,0.25);
   border: 1px solid #b1a7bc; 
   border-radius: 5px; 
}

.map_controls span{
   border-right: 1px solid #e0dce4;
   font-size: 16px;
   padding: 4px 11px;
   display: inline-block;
}

@media (max-width:700px){
   .map_controls { 
      top: 15px; 
      right: 15px;
   }
   .map_controls span{
      border-right: none;
      border-top: 1px solid #e0dce4;
      display: block;
   }

}
