/*------------------------------------*\
    Panels
\*------------------------------------*/

.panel  {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25px;
  bottom: 125px;
  left: 25px;
  /*height: 95%;*/
  /*overflow: hidden;*/
  min-width: 290px;
  width: 33.3%;
  max-width: 500px;
  user-select: none;
  box-shadow: 0px 0px 11px -2px black;
}

.panel-header,
.panel-footer,
.panel-container{
	z-index: 10;
}

.panel-slide-out{
	box-shadow: 0px 0px 11px -2px black;

	position: absolute;
	background-color: white;
	width: 100%;
	z-index: -1;
	left: 0%;
	top: 50px;
	bottom: 75px;
	transition: 500ms left;
	padding: 13px;
	overflow-y: scroll;
}
.panel-slide-out.show-side{
	left: 30px;
}
	
.panel-slide-out.show-all{
	left: calc( 100% - 2px );
}


.close-side-panel{
	width: 15px;
	height: 15px;
	background-size: contain;
	background-position: center center;
	cursor: pointer;
	margin: 0px 0px 10px 10px;
	float: right;
}
	



.panel-header,
.panel-footer  {
  background-color: #32253f;
}

.panel-header  {
  color: #fff;
  height: 45px;
  border-bottom: 2px solid #EFEDF3;
  box-shadow: 0px 1px 5px -2px #000000;
  z-index: 42;
}

.panel-header .tab{
    float: left;
    display: inline;
    border-bottom: 0px;
    
    margin: 7px 7px 0px 7px;
    padding: 8px 8px 9px 8px;
    
    background-color: #32253f;
    cursor: pointer;

}

.panel-header .tab.active{
    background-color: #f0eef3;
    color: black;
}



.panel-header .panel-icon-tab{
    float: right;
    font-size: 22px;
    margin: 7px;
}

.panel-footer  {
  padding: 10px 9px 18 9px;
  box-shadow: 0px -1px 5px -2px #000000;
  z-index: 42;
  text-align: right;
  color: white;
  padding: 3px;
}

.panel-container  {
    background-color: rgba(239, 237, 241, 0.5);
    flex: 1;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.panel-container.padded{
  padding: 8px;
}

.panel-container.active{
	display: block;
}

.panel-container-solid-backdrop{
  background-color: rgb(239, 237, 241);
  padding: 8px;
}

.icon-btn{
	color: white;
	opacity: 0.5;
}
.icon-btn:hover{
	opacity: 0.8;
}
.icon-btn.active{
	opacity: 1;
}

.panel-tab  {
  background-color: #ffffff;
  width: 100%;
  display: none;
  padding-top: 20px;
}

.panel-tab.no-gap  {
  padding-top: 5px;
}
.panel-tab.active{
  display: block;
}

.panel-tab-content  {
  position: relative;
  width: 100%;
}

.panel-tab-content h3  {
   margin-left: 13px;
}

.panel-tab-trigger  {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
}

.panel-tab-trigger:checked + .panel-tab  {
  display: block;
}

.panel-tab-trigger:checked + table.panel-tab  {
   display: table;
}

.panel-tab-name  {
  border-bottom: 1px solid #e0dce4;
  border-top: 1px solid transparent;
  display: inline-block;
  min-height: 40px;
  width: 50%;
}

.panel-tab-name.browse-tabs  {
   width: 33.33%;
}

.panel-tab-name.focus,
.panel-tab-name:hover,
.panel-tab-name.active  {
  color: #111111;
}

.panel-tab-name.active  {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #e0dce4;
  border-right: 1px solid #e0dce4;
}

.panel-tab-name.active:last-of-type  {
  border-left: 1px solid #e0dce4;
  border-right: 0 none;
}

.panel-tab-name.dark.active  {
  background-color: #efedf1;
  border-bottom: 1px solid #efedf1;
}

.panel-tab-name.dark.active:last-of-type  {
  border-left: 1px solid #e0dce4;
  border-right: 0 none;
}


.dark .panel-tab,
.panel-tab-dark  {
  background-color: #efedf1;
}

#refinePanel .indicator-select  {
   padding-top: 0;
}

.panel-list  {
  overflow-x: hidden;
}

.panel-list li  {
  background-color: #ffffff;
}


/* over specified */
.panel-list p.grid-cell.fill  {
   margin:0;
   line-height: 40px;
}

.panel-list li:nth-child(even)  {
  background-color: #fbfafb;
}

.build-map  {
   padding-bottom: 5px;
   padding-top: 10px;
}

.build-map li  {
   padding-bottom: 10px;
   text-transform: capitalize;
}

.build-map p  {
   display: inline-block;
}

#configurePanel .panel-tab.indicator-select  { 
   padding-left: 9px;
   padding-right: 9px;
   padding-bottom: 9px;
   padding-top: 10px;
}

#refinePanel .panel-header h2  {
   text-transform: capitalize;
}

#refinePanel .indicator-select li {
   padding-left: 5px;
}

#refinePanel .panel-list .text-button  {
   padding-left: 15px;
}

.indicator-select label  {
   text-transform: capitalize;
}

select,
.indicator-dropdown {
  background: white;
  border-style: none;
  border: 1px solid #d8d3dd;
  border-radius: 0;
  color: #8a7b9b;
  display: block;
  /*-webkit-appearance: none;
  -moz-appearance: none;*/
  text-align: left;
  text-indent: 1px;
  text-overflow: '';
  line-height: 33px;
  padding-left: 10px;
  text-transform: capitalize;
  margin-top: 9px;
  width: 100%;
}

/* Firefox has a weird padding problem */
@-moz-document url-prefix() {
   #indicatorsPanel select  {
      line-height: 28px;
      padding-top: 7px;  
   }
}

/* I'm using a hack for multiple select
 * so overriding the height breaks
 * the hack. */
#indicatorsPanel select  {
  height: 35px;
}

.indicator-select .icon_arrow  {
   float: right;
   margin-top: 4px;
   margin-right: 5px;
}

.panel-list.fake-select {
  border: 1px solid #d8d3dd;
  border-top: 0 none;
}

.fake-select li{
  padding-left: 45px;

}

.panel-list .text-button {
  line-height: 30px;
  padding-left: 8px; 
}

.full-height  {
   height: 100%;
}

.search-results{
  padding-left: 15px;
}

.search-results p  {
   text-transform: capitalize; 
}

/* Hide select so that mobile gets mobile version
 * and desktop gets custom */
.hide-select  {
   opacity: 0; 
   position: absolute; 
   z-index: -1;  
   width: 0px !important;
   margin-top: -35px !important; 
}

input.search  {
   border: 1px solid #d8d3dd;
   display: inline-block;
   height: 45px;
   padding: 5px;
   padding-left: 10px;
   margin: 0 10px; 
   width: calc(100% - 20px);
}

.show-tools  {

   background-color: #fafafb;
   box-shadow: 4px 0 10px rgba(0,0,0,0.25);
   border: 1px solid #b1a7bc;
   line-height: 40px;
   padding-right: 20px;
   left: 25px;
   top: 25px;
   position: absolute;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.show-tools span{
  font-size: 20px;
  position: relative;
  top: 4px;
}


.ellipsisOverflow {
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

#configurePanel .instructions{
  padding: 9px;
}

