/*------------------------------------*\
    Scalebar
\*------------------------------------*/

.noUi-connect  {
  background-color: #d8d3dd;
  box-shadow: none;
}

.noUi-handle  {
  background-color: #b1a7bc;
  border-radius: 50%;
  box-shadow: none;
}

.noUi-target  {
  border-radius: 25px;
}

.noUi-origin  {
   border-radius: 25px;
}

input.min,
input.max  {
  margin: 10px 0;
  width: 90px;
}

input.max  {
   float: right;
}

.panel-tab.scalebar-tab  {
  background-color: #fbfafb;
  padding: 9px;
}

.scale-options  {
  background-color: #fbfafb;
  border-bottom: 1px solid #e0dce4;
  padding-bottom: 10px;
}

.indicator-options  {
  padding-top: 10px;
}

.indicator-option  {
  margin-bottom: 10px;
}


/* Rotated scalebar with help from Ana Tudor
   https://twitter.com/thebabydino/status/471630268726788096 */


.scalebar-outer {
   position: relative;
   height: 32px;
}

.scalebar  {
   height: 20px;
   width: 100%;
   background-size: 100%;
   margin-bottom: 7px;
}

.scalebar-overlay{
	position: absolute;
	width: calc( 100% / 6 );
	margin-left: calc( 0px - (100% / 6 / 2) );
	text-align: center;
}

.scalebar-overlay:first-of-type{
	margin-left: 0px;
	text-align: left;
	left: 0%;
}
.scalebar-overlay:nth-of-type(2){
	left: 25%;
}
.scalebar-overlay:nth-of-type(3){
	left: 50%;
}
.scalebar-overlay:nth-of-type(4){
	left: 75%;
}
.scalebar-overlay:last-of-type{
	margin-left: 0px;
	text-align: right;
	right: 0%;
}


.scalebar-overlay::before{
	content: " ";
	width: 1px;
	height: 7px;
	background-color: rgb(255, 233, 233);
	position: absolute;
	bottom: 100%;
	left: 50%;
}

.scalebar-overlay:first-of-type::before{
	left: 0%;
}
.scalebar-overlay:last-of-type::before{
	left: auto;
	right: 0%;
}

