/*------------------------------------*\
    Share
\*------------------------------------*/

.share  {
   background-color: rgba(0,0,0,0.8);
}

.share-container  {
   background-color: #32273d;
   color: #f7f6f8;
}
