/*------------------------------------*\
    Share
\*------------------------------------*/

.share-map-button {
   background: #fff;
   border-top: 1px solid #e0dce4;
   padding: 9px;

   display: flex;
   align-items: center;
}

.share-map-button label,
.export-button label  {
   flex: 1;
}

.share  {
   background-color: rgba(0,0,0,0.8);
}

.share-container  {
   background-color: #32273d;
   color: #f7f6f8;
   padding: 25px;
}

.share-container .js-close-share  {
   color: #f7f6f8;
   float: right;
}

.js-shareurl  {
   padding: 5px;
   margin-top: 5px;
   width: 100%;
}

#share-map {
   cursor: pointer;
}

#share-map span{
   position: relative;
   top: 3px;
   font-size: 16px;
}
