/*------------------------------------*\
    Start Page
\*------------------------------------*/

.start  {
   background: #635078 url('/img/PML-MAP-2@2x.png') no-repeat top left / cover;
   z-index: 1000;
   overflow-y: auto;
}
.start-dev { 
   background: #383a25; }
}

.start-container  {
   background: #32273d;
   color: #f7f6f8;
}

.intro-text  {
   padding: 25px;
   padding-bottom: 10px;
}

.intro-text p  {
   padding-bottom: 10px;
}

.start-nav  {
   background: #251d2d;
   padding: 20px 15px;
   text-align: right;
}

.examples a   {
   line-height: 45px;
   display: block;
   padding-left: 17px;
}

.examples .icon-svg  {
   opacity: 1;
   margin-right: 10px;
}

[class^="example"]:nth-child(4n+1)  {
   background: #643d72;
}

[class^="example"]:nth-child(4n+2)   {
   background: #683766;
}

[class^="example"]:nth-child(4n+3)  {
   background: #47355b;
}

[class^="example"]:nth-child(4n+4)  {
   background: #473d72;
}
