/* Fix for IE SVG overflow issues */
svg {
   overflow: hidden;
   shape-rendering: crispEdges;
}

.graph svg  {
   shape-rendering: auto;
}

.timeline-container  {
   left: 0;
   bottom: 25px;
   position: absolute;
   width: 100%;
}

.timeline-inner  {
   background-color: #fff;
   margin: 0 auto;
   position: relative;
   width: 90%;
}

.timeline  {
   width: 100%;
}

.main {
   pointer-events: bounding-box;
}

.main text {
   text-anchor: start;
   fill: #b1a7bc;
   /*stroke:black;
   stroke-width:0.5px;*/
}

.main text:hover,
.main text:focus  {
   fill: #32253f;
}

.separatorLine {
   stroke: gray;
}

.nowLine {
   stroke: lightblue;
   stroke-width: 1.5px;
   stroke-dasharray: 2px,2px;
}

.selectedDateLine {
   rx: 5;
   ry: 5;
   fill: #A19D63; //#b1a7bc;
}

.laneText {
}

.detailLine {
   stroke-width: 1;
}

.timeRange {
   fill: #d8d3dd;
   stroke: none;
}

.data-bar-type--range  {
   pointer-events: none;   
}

.axis line, .axis path {
   stroke: #d8d3dd;
}

.timeline-labels  {
   font-size: 10px;
   min-width: 150px;
}

.timeline-labels li  {
   position: absolute;
   left: 15px;
   top: 0;
   text-transform: capitalize;
}

#timeline.grid-cell  {
   flex-basis: initial;
}
