.readymap-control-pan
    {
        padding: 5px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        z-index: 10;
        position: absolute;        
        right: 60px;
        top: 20px;
    }
    
    .readymap-control-button
    {
        background-color: rgba(255, 255, 255, 0.75);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 4px 4px 4px 4px;
        display: block;
        height: 20px;
        width: 20px;
        margin-bottom: 5px;
    }
    
    .readymap-control-pan-left
    {
    	position:absolute;        
    	left: 0px;
    	top: 20px;
    	background-image: url(../images/pan-left.png);
    }
    
    .readymap-control-pan-right
    {          
    	position:absolute;
    	left:40px;
    	top:20px;
    	background-image: url(../images/pan-right.png);
    }
    
    .readymap-control-pan-up
    {
    	position:absolute;
    	left:20px;
    	top:0px;
    	background-image: url(../images/pan-up.png);
    }
    
    .readymap-control-pan-down
    {
    	position:absolute;
    	left:20px;
    	top:40px;
    	background-image: url(../images/pan-down.png);
    }
    
    .readymap-control-home
    {
    	position:absolute;
    	left:20px;
    	top:20px;
    	background-image: url(../images/globe-black.gif);
    }
    
    .readymap-control-zoom
    {
        padding: 5px;        
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        z-index: 10;
        position: absolute;        
        right: 25px;
        top: 80px;
    }         
    
    .readymap-control-zoom-in
    {    	
        background-image: url(../images/zoom-in.png);
        margin-bottom: 5px;
    }
    .readymap-control-zoom-out
    {
        background-image: url(../images/zoom-out.png);
        margin-bottom: 5px;
    }