{% extends "layout.html" %}
{% block content %}
<!-- <head> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<!-- </head> -->
<!-- <body> -->
  <h1>Hash Below - Original Python Script</h1>
  <h2> {{hash}}</h2>
  <p id="status">TEXT HERE</p>
  <div>
    <button id="btn">Delete -status.json</button>
    <button id="btn-html">Launch html</button>
  </div>
<!-- </body> -->



<script>
  


  const element = document.getElementById("status");
  const btn = document.getElementById("btn");
  const btn_html = document.getElementById("btn-html");


  btn.addEventListener("click",event=>{
    ajax_delete_status();
  })

  btn_html.addEventListener("click",event=>{
    $("html").load("/html_launch/"+hash_raw+'-plot.html');
  })


  setTimeout(readJSON,2000)

  var hash_raw='{{hash}}'
  // var hash_json=JSON.parse(hash_raw)
  // var hash_str=hash_json.hash
  console.log("🚀 ~ hash_raw", hash_raw)

  function readJSON(){
    try{
      $.ajax ({
        type: "GET",
        dataType: 'json',
        //contentType: 'application/json',
        url:'/app/plotting/plots/'+hash_raw+'-status.json',
        success: writeToScreen,
        error: errorDelay
      });
    }
    catch(error){
      console.error(error)
      setTimeout(readJSON,1000)
    }
  }

  function writeToScreen(data){
    if (data.state =='complete' && element.innerHTML =='complete'){
      $("h2").hide("slow")
      $("btn").show("slow")
    }
    else {
      element.innerHTML = data.state;
      setTimeout(readJSON,1000)
    }

  }
  function errorDelay(e){
    console.log('Errored reading so waiting, specific error: ',e)
    setTimeout(readJSON,1000)
  }

  function ajax_delete_status(){
    $.ajax ({
        type: "GET",
        dataType: 'json',
        //contentType: 'application/json',
        url:'/remove_request/'+hash_raw+'-status.json',
        success: successDelayDelete,
        error: errorDelayDelete
      });
  }

  function errorDelayDelete(e){
    console.log('Errored deleting the -status.json ',e)
    ajax_launch_html()
  }
  function successDelayDelete(){
    console.log('Deleted the -status.json ')
  }

  function ajax_launch_html(){
    $.ajax ({
        type: "GET",
        dataType: 'json',
        //contentType: 'application/json',
        url:'/launch_html/'+hash_raw+'-plot.html',
        success: {},
        error: {}
      });
  }
  
    
  </script>

{% endblock content %}