doctype html
html(lang="en")
   head
      title= pageTitle
      link(rel='stylesheet', href='/css/GISPortal.css')
      script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(type='text/javascript')
         |$( document ).ready(function() {
         |   if (!window.top.collaboration.active) window.top.collaboration.initSession();
         |   $('.js-start-new-room').on('click', function() { window.top.collaboration.startNewRoom()});
         |   $('.js-join-room').on('click', function() { 
         |      var roomId = $('#roomId').val();
         |      if (roomId) {
         |         window.top.collaboration.joinRoom(roomId);
         |      } else {
         |         alert('Please enter the reference number of the room that you would like to join');
         |      }
         |   });
         |});
   body
      div.collabIframe
         h3 Collaboration Dashboard
         p You are now logged in
         
         div.userDetails
            img(src=userPicture class='avatar')
            div.name= displayName
            div.email= userEmail
            p.logout 
               a(href='/node/logout') Logout

         div.join
            h3 Join a session
            p If you have a collaboration reference enter it here to join the session
            input(type="text", id="roomId", placeholder="Collaboration reference")
            div(class="js-room-id-message hidden")
            button(class="js-join-room brand small pull-right analysis-add-to-plot-buttons") Join Session

         div.host
            h3 Host a session
            p Select this option to host a new session and invite people to join you
            button(class="js-start-new-room brand small pull-right") Start new